<!-- <form class="form-horizontal" (ngSubmit)="onSubmit()" #projectform="ngForm" ngNativeValidate> -->

<div class="card">
  <div class="card-body">
    <form #projectform="ngForm">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Project Short Name<span style="color: red">*</span></th>
            <th>Project Name<span style="color: red">*</span></th>
            <th>Project Manager<span style="color: red">*</span></th>
          </tr>
        </thead>

        <tbody>

          <tr *ngFor="let projectmodel of projectModels; let i = index">
            <td>
              <input type="text" [(ngModel)]="projectmodel.chartLabel" name="shortname{{i+1}}" pattern="^[A-Za-z0-9 ]+$"
                class="form-control" id="shortname{{i+1}}" placeholder="Text">
            </td>
            <td>
              <input type="text" [(ngModel)]="projectmodel.projectName" name="prjname{{i+1}}" pattern="^[A-Za-z0-9 ]+$"
                class="form-control" id="prjname{{i+1}}" placeholder="Text">
            </td>
            <td>
              <select [(ngModel)]="projectmodel.idProjectManager" name="prjmid{{i+1}}" id="prjmid{{i+1}}" class="form-control"
                #projectmanager="ngModel">
                <option value="" disabled selected>Please Select</option>
                <option *ngFor="let projectManager of projectManagerModels" [value]="projectManager.idEmployee">{{projectManager.name}}</option>
              </select>
            </td>
            <td><button type="button" class="btn btn-primary btn-sm width100" (click)="open(content,i,projectmodel)">Additional
                Info</button>
            </td>
          </tr>
        </tbody>

      </table>
    </form>
    <ul class="pagination">
      <li class="page-item"><button type="button" class="btn btn-sm btn-success pull-right" (click)="onSubmit()"><i
            class="fa fa-dot-circle-o"></i>
          Submit</button> </li>
      <li class="page-item"><button type="button" class="btn btn-sm btn-danger pull-right" (click)="projectform.reset()"><i class="fa fa-ban"></i>
          Reset</button></li>
      <li class="page-item"><button type="button" class="pull-right" (click)="addrows()">Add More</button> </li>
    </ul>
  </div>
</div>
<div *ngIf="successMsg != null" class="alert alert-success" role="alert">
  {{successMsg | json}}
</div>
<div *ngIf="errorMsg != null" class="alert alert-danger" role="alert">
  {{errorMsg | json }}
</div>
<!-- </form> -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Additional Info</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container col-md-12">
      <form>
        <div class="row">
          <div class="col-md-6">
            <label for="budgetYear">Budget Year</label>
            <select [(ngModel)]="projectmodel.budgetYear" name="budgetYear" id="budgetYear"
              class="form-control">
              <option value="" disabled selected>select a Budget Year</option>
              <option *ngFor="let budget of budgetYears" [value]="budget">{{budget}}</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="accountingCode">Accounting Code</label>
            <input type="text" id="accountingCode" [(ngModel)]="projectmodel.accountingCode" name="accountingCode"
              #accountingCode="ngModel" pattern="^[A-Za-z0-9 ]+$" class="form-control" placeholder="Text">
            <div *ngIf="accountingCode.invalid&&(accountingCode.dirty||accountingCode.touched)" class="alert alert-danger">
              <div *ngIf="accountingCode?.errors.pattern">
                Accepts only alpha numeric.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="tcv">Allocated Budget($)</label>
            <input type="text" id="tcv" [(ngModel)]="projectmodel.tcv" name="tcv" #tcv="ngModel" pattern="^[0-9]+$"
              class="form-control" placeholder="Number">
            <div *ngIf="tcv.invalid&&(tcv.dirty||tcv.touched)" class="alert alert-danger">
              <div *ngIf="tcv?.errors.pattern">
                Accepts only numeric.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="investmentManager">Investment Manager</label>
            <select [(ngModel)]="projectmodel.idInvestmentManager" name="investmentManager" id="investmentManager"
              class="form-control">
              <option value="" disabled selected>select a Investment Manager</option>
              <option *ngFor="let investment of investmentModels" [value]="investment.idEmployee">{{investment.name}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="idFunctionalManager">Functional Manager</label>
            <select [(ngModel)]="projectmodel.idFunctionalManager" name="idFunctionalManager" id="idFunctionalManager"
              class="form-control">
              <option value="" disabled selected>select a Functional Manager</option>
              <option *ngFor="let functionalManager of functionalManagerModels" [value]="functionalManager.idEmployee">{{functionalManager.name}}</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="idSponsor">Sponsor</label>
            <select [(ngModel)]="projectmodel.idSponsor" name="idSponsor" id="idSponsor" class="form-control">
              <option value="" disabled selected>select a Sponsor</option>
              <option *ngFor="let sponsor of sponsorModels" [value]="sponsor.idEmployee">{{sponsor.name}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="idCategory">Category</label>
            <select [(ngModel)]="projectmodel.idCategory" name="idCategory" id="idCategory" class="form-control">
              <option value="" disabled selected>select a Category</option>
              <option *ngFor="let category of categoryModels" [value]="category.idCategory">{{category.name}}</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="idCustomer">Customer</label>
            <select [(ngModel)]="projectmodel.idCustomer" name="idCustomer" id="idCustomer" class="form-control">
              <option value="" disabled selected>select a Customer</option>
              <option *ngFor="let customer of customerModels" [value]="customer.idCustomer">{{customer.name}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="idProgram">Baseline Start</label>
            <div class="input-group ">
              <input type="text" placeholder="MM-DD-YYYY" id="plannedInitDate" name="plannedInitDate"
                #plannedInitDate="ngModel" class="form-control" bsDatepicker #dbs='bsDatepicker' [(ngModel)]="projectmodel.plannedInitDate">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" style="height: 29px" (click)="dbs.toggle()" type="button">
                  <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
              <label for="idProgram">Baseline Finish</label>
              <div class="input-group ">
                <input type="text" placeholder="MM-DD-YYYY" id="plannedFinishDate" name="plannedFinishDate"
                  #plannedFinishDate="ngModel" class="form-control" bsDatepicker #dbf='bsDatepicker' [(ngModel)]="projectmodel.plannedFinishDate">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" style="height: 29px" (click)="dbf.toggle()" type="button">
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="idSponsor">Sponsor</label>
            <select [(ngModel)]="projectmodel.idSponsor" name="idSponsor" id="idSponsor" class="form-control">
              <option value="" disabled selected>select a Sponsor</option>
              <option *ngFor="let sponsor of sponsorModels" [value]="sponsor.idEmployee">{{sponsor.name}}</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="idProgram">Program</label>
            <select [(ngModel)]="projectmodel.idProgram" name="idProgram" id="idProgram" class="form-control"
                #program="ngModel">
                <option value="" disabled selected>select a Program</option>
                <option *ngFor="let programData of programModels" [value]="programData.idProgram">{{programData.programName}}</option>
              </select>
          </div>
        </div>
        <div class="row">
            <div class=" col-md-6">
                <label for="duration">Duration(Days)</label>
                <input type="text" [(ngModel)]="projectmodel.duration" id="duration" #duration="ngModel" pattern="^[0-9]+$"
                  name="duration" class="form-control" placeholder="Number">
                <div *ngIf="duration.invalid&&(duration.dirty||duration.touched)" class="alert alert-danger">
                  <div *ngIf="duration?.errors.pattern">
                    Accepts only numerics.
                  </div>
                </div>
              </div>
          <div class="col-md-6">
            <label for="priority">Priority</label>
            <input type="text" #priority="ngModel" pattern="^[0-9]+$" [(ngModel)]="projectmodel.priority" id="priority"
              name="priority" class="form-control" placeholder="Number">
            <div *ngIf="priority.invalid&&(priority.dirty||priority.touched)" class="alert alert-danger">
              <div *ngIf="priority?.errors.pattern">
                Accepts only numerics.
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancel click')">Cancel</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click');addData(projectmodel)">OK</button>
  </div>
</ng-template>
