<div class="card">
    <div class="card-header">
      <strong>Edit Project</strong>
    </div>
    <div class="card-body">
      <form class="form-horizontal" (ngSubmit)="onSubmit()" #projectform="ngForm" ngNativeValidate>
          <input type="hidden" [(ngModel)]="projectModel.idProject" name="idProject">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Project Short Name<span style="color: red">*</span></label>
          <div class="col-md-3">
            <input type="text" [(ngModel)]="projectModel.chartLabel" autofocus required pattern="^[A-Za-z ]+$" id="chartLabel"
              name="chartLabel" #shortname="ngModel" class="form-control" placeholder="Text">
            <div *ngIf="shortname.invalid&&(shortname.dirty||shortname.touched)" class="alert alert-danger">
              <div *ngIf="shortname?.errors.required">
                Project Short Name is required.
              </div>
              <div *ngIf="shortname?.errors.pattern">
                Accepts only alphabets A-z a-z.
              </div>
            </div>
  
          </div>
          <label class="col-md-2 col-form-label" for="text-input">Project Name<span style="color: red">*</span></label>
          <div class="col-md-3">
            <input type="text" [(ngModel)]="projectModel.projectName" required pattern="^[A-Za-z ]+$" id="projectName"
              name="projectName" class="form-control" #projectname="ngModel" placeholder="Text">
            <div *ngIf="projectname.invalid&&(projectname.dirty||projectname.touched)" class="alert alert-danger">
              <div *ngIf="projectname?.errors.required">
                Project Name is required.
              </div>
              <div *ngIf="projectname?.errors.pattern">
                Accepts only alphabets A-z a-z.
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Budget Year</label>
          <div class="col-md-3">
            <input type="text" [(ngModel)]="projectModel.budgetYear" #budgetyear="ngModel" pattern="^[0-9]+$" id="budgetYear" name="budgetYear" class="form-control"
              placeholder="Number">
            <div *ngIf="budgetyear.invalid&&(budgetyear.dirty||budgetyear.touched)" class="alert alert-danger">
              <div *ngIf="budgetyear?.errors.pattern">
                Accepts only numbers 0-9.
              </div>
            </div>
          </div>
          <label class="col-md-2 col-form-label" for="text-input">Accounting Code</label>
          <div class="col-md-3">
            <input type="text" [(ngModel)]="projectModel.accountingCode" id="accountingCode" name="accountingCode" class="form-control"
              placeholder="Text">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="select1">Investment Manager</label>
          <div class="col-md-3">
            <select [(ngModel)]="projectModel.idInvestmentManager" name="investmentManager" id="investmentManager" class="form-control">
              <option value="" disabled selected>select a Investment Manager</option>
              <option *ngFor="let investment of investmentModels" [value]="investment.idEmployee">{{investment.name}}</option>
            </select>
          </div>
          <label class="col-md-2 col-form-label" for="select1">Project Manager<span style="color: red">*</span></label>
          <div class="col-md-3">
            <select [(ngModel)]="projectModel.idProjectManager" required name="idProjectManager" id="idProjectManager"
              class="form-control" #projectmanager="ngModel">
              <option value="" disabled selected>select a Project Manager</option>
              <option *ngFor="let projectManager of projectManagerModels" [value]="projectManager.idEmployee">{{projectManager.name}}</option>
            </select>
            <div *ngIf="projectmanager.invalid &&(projectmanager.dirty||projectmanager.touched)" class="alert alert-danger">
              <div *ngIf="projectmanager?.errors.required">
                Project Manager is required.
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
    </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="select1">Programs</label>
          <div class="col-md-3">
            <select [(ngModel)]="projectModel.idProgram" name="idProgram" id="idProgram" class="form-control"
              #program="ngModel">
              <option value="" disabled selected>select a Program</option>
              <option *ngFor="let programData of programModels" [value]="programData.idProgram">{{programData.programName}}</option>
            </select>
            <div *ngIf="program.invalid && (program.dirty || program.touched)" class="alert alert-danger">
              <div *ngIf="program?.errors.required">
                Program Manager is required.
              </div>
            </div>
          </div>
          <label class="col-md-2 col-form-label" for="select1">Category</label>
          <div class="col-md-3">
            <select [(ngModel)]="projectModel.idCategory" name="idCategory" id="idCategory" class="form-control">
              <option value="" disabled selected>select a Program</option>
              <option *ngFor="let category of categoryModels" [value]="category.idCategory">{{category.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="select1">Functional Manager</label>
          <div class="col-md-3">
            <select [(ngModel)]="projectModel.idFunctionalManager" name="idFunctionalManager" id="idFunctionalManager"
              class="form-control">
              <option value="" disabled selected>select a Functional Manager</option>
              <option *ngFor="let functionalManager of functionalManagerModels" [value]="functionalManager.idEmployee">{{functionalManager.name}}</option>
            </select>
          </div>
          <label class="col-md-2 col-form-label" for="select1">Sponsor</label>
          <div class="col-md-3">
            <select [(ngModel)]="projectModel.idSponsor" name="idSponsor" id="idSponsor" class="form-control">
              <option value="" disabled selected>select a Sponsor</option>
              <option *ngFor="let sponsor of sponsorModels" [value]="sponsor.idEmployee">{{sponsor.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="select1">Customer</label>
          <div class="col-md-3">
            <select [(ngModel)]="projectModel.idCustomer" name="idCustomer" id="idCustomer" class="form-control">
              <option value="" disabled selected>select a Customer</option>
              <option *ngFor="let customer of customerModels" [value]="customer.idCustomer">{{customer.name}}</option>
            </select>
          </div>
          <label class="col-md-2 col-form-label" for="text-input">Total Value</label>
          <div class="col-md-3">
            <input type="text" [(ngModel)]="projectModel.tcv" id="tcv" name="tcv" class="form-control" placeholder="Number">
          </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Baseline Start</label>
            <div class="col-md-3">
              <div class="input-group">
                 <input type="text" placeholder="Datepicker" id="plannedInitDate" name="plannedInitDate" #plannedInitDate="ngModel" class="form-control" bsDatepicker
                 #dbs='bsDatepicker' [(ngModel)]="projectModel.plannedInitDate" 
                 [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY' }"
                 >
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="dbs.toggle()" type="button">
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>
              <div *ngIf="plannedInitDate.invalid&&(plannedInitDate.dirty||plannedInitDate.touched)" class="alert alert-danger">
                <div *ngIf="plannedInitDate?.errors.required">
                  Baseline Start is required.
                </div>
              </div>
            </div>
            <label class="col-md-2 col-form-label" for="text-input">Baseline Finish</label>
            <div class="col-md-3">
              <div class="input-group">
                 <input type="text" placeholder="Datepicker" id="plannedFinishDate" name="plannedFinishDate" #plannedFinishDate="ngModel" class="form-control" bsDatepicker
                 #dbf='bsDatepicker' [(ngModel)]="projectModel.plannedFinishDate" 
                 [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY' }"
                 >
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="dbf.toggle()" type="button">
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>
          </div>
         
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Duration</label>
          <div class="col-md-3">
            <input type="text" [(ngModel)]="projectModel.duration" id="duration" #duration="ngModel" pattern="^[0-9]+$" name="duration" class="form-control"
              placeholder="Number">
            <div *ngIf="duration.invalid&&(duration.dirty||duration.touched)" class="alert alert-danger">
              <div *ngIf="duration?.errors.pattern">
                Accepts only numbers 0-9.
              </div>
            </div>
          </div>
          <label class="col-md-2 col-form-label" for="text-input">Priority</label>
          <div class="col-md-3">
            <input type="text" #priority="ngModel" pattern="^[0-9]+$" [(ngModel)]="projectModel.priority" id="priority" name="priority" class="form-control"
              placeholder="Number">
            <div *ngIf="priority.invalid&&(priority.dirty||priority.touched)" class="alert alert-danger">
              <div *ngIf="priority?.errors.pattern">
                Accepts only numbers 0-9.
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Probability</label>
          <div class="col-md-3">
            <input type="text" #probability="ngModel" pattern="^[0-9]+$" [(ngModel)]="projectModel.probability" id="probability" name="probability" class="form-control"
              placeholder="Number">
            <div *ngIf="probability.invalid&&(probability.dirty||probability.touched)" class="alert alert-danger">
              <div *ngIf="probability?.errors.pattern">
                Accepts only numbers 0-9.
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-success" [disabled]="!projectform.valid"><i class="fa fa-dot-circle-o"></i>
            Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </form>
    </div>
  
    <div *ngIf="successMsg != null" class="alert alert-success" role="alert">
      {{successMsg | json}}
    </div>
    <div *ngIf="errorMsg != null" class="alert alert-danger" role="alert">
      {{errorMsg | json }}
    </div>
  
  </div>
  