<div class="card">
  <div class="card-header">
    <strong>Search Project</strong>
  </div>
<div class="card-body">
  <form class="form-horizontal" (ngSubmit)="onSubmit()" #projectform="ngForm" ngNativeValidate>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="text-input">Project Short Name</label>
      <div class="col-md-3">
        <input type="text" [(ngModel)]="projectmodel.chartLabel" pattern="^[A-Za-z0-9 ]+$"
          id="chartLabel" name="chartLabel" #shortname="ngModel" class="form-control" placeholder="Text">
        <div *ngIf="shortname.invalid&&(shortname.dirty||shortname.touched)" class="alert alert-danger">
          <div *ngIf="shortname?.errors.pattern">
            Accepts only alphabets A-z a-z.
          </div>
        </div>

      </div>
      <label class="col-md-2 col-form-label" for="text-input">Project Name</label>
      <div class="col-md-3">
        <input type="text" [(ngModel)]="projectmodel.projectName" pattern="^[A-Za-z0-9 ]+$" id="projectName" name="projectName"
          class="form-control" #projectname="ngModel" placeholder="Text">
        <!-- <span class="help-block">This is a help text</span> -->
        <div *ngIf="projectname.invalid&&(projectname.dirty||projectname.touched)" class="alert alert-danger">
          <div *ngIf="projectname?.errors.pattern">
            Accepts only alphabets A-z a-z.
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="select1">Investment Manager</label>
      <div class="col-md-3">
        <select [(ngModel)]="projectmodel.idInvestmentManager" name="investmentManager" id="investmentManager" class="form-control">
          <option value="" disabled selected>select a Investment Manager</option>
          <option *ngFor="let investment of investmentModels" [value]="investment.idEmployee">{{investment.name}}</option>
        </select>
      </div>
      <label class="col-md-2 col-form-label" for="select1">Project Manager</label>
      <div class="col-md-3">
        <select [(ngModel)]="projectmodel.idProjectManager" name="idProjectManager" id="idProjectManager"
          class="form-control" #projectmanager="ngModel">
          <option value="" disabled selected>select a Project Manager</option>
          <option *ngFor="let projectManager of projectManagerModels" [value]="projectManager.idEmployee">{{projectManager.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="select1">Programs</label>
      <div class="col-md-3">
        <select [(ngModel)]="projectmodel.idProgram" name="idProgram" id="idProgram" class="form-control" #program="ngModel">
          <option value="" disabled selected>select a Program</option>
          <option *ngFor="let programData of programModels" [value]="programData.idProgram">{{programData.programName}}</option>
        </select>
      </div>
      <label class="col-md-2 col-form-label" for="select1">Category</label>
      <div class="col-md-3">
        <select [(ngModel)]="projectmodel.idCategory" name="idCategory" id="idCategory" class="form-control">
          <option value="" disabled selected>select a Program</option>
          <option *ngFor="let category of categoryModels" [value]="category.idCategory">{{category.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="select1">Functional Manager</label>
      <div class="col-md-3">
        <select [(ngModel)]="projectmodel.idFunctionalManager" name="idFunctionalManager" id="idFunctionalManager"
          class="form-control">
          <option value="" disabled selected>select a Functional Manager</option>
          <option *ngFor="let functionalManager of functionalManagerModels" [value]="functionalManager.idEmployee">{{functionalManager.name}}</option>
        </select>
      </div>
      <label class="col-md-2 col-form-label" for="select1">Sponsor</label>
      <div class="col-md-3">
        <select [(ngModel)]="projectmodel.idSponsor" name="idSponsor" id="idSponsor" class="form-control">
          <option value="" disabled selected>select a Sponsor</option>
          <option *ngFor="let sponsor of sponsorModels" [value]="sponsor.idEmployee">{{sponsor.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="select1">Customer</label>
      <div class="col-md-3">
        <select [(ngModel)]="projectmodel.idCustomer" name="idCustomer" id="idCustomer" class="form-control">
          <option value="" disabled selected>select a Customer</option>
          <option *ngFor="let customer of customerModels" [value]="customer.idCustomer">{{customer.name}}</option>
        </select>
      </div>
      <label class="col-md-2 col-form-label" for="text-input">Total Value</label>
      <div class="col-md-3">
        <input type="text" [(ngModel)]="projectmodel.tcv" id="tcv" name="tcv" class="form-control" placeholder="Number">
      </div>
    </div>
    
    
  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="text-input">Baseline Start</label>
    <div class="col-md-3">
      <div class="input-group">
         <input type="text" placeholder="Datepicker" id="plannedInitDate" name="plannedInitDate" #plannedInitDate="ngModel" class="form-control" bsDatepicker
         #dbs='bsDatepicker' [(ngModel)]="projectmodel.plannedInitDate" 
         [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY' }"
         >
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="dbs.toggle()" type="button">
            <i class="fa fa-calendar"></i>
          </button>
        </div>
      </div>
     
    </div>
    <label class="col-md-2 col-form-label" for="text-input">Baseline Finish</label>
    <div class="col-md-3">
      <div class="input-group">
         <input type="text" placeholder="Datepicker" id="plannedFinishDate" name="plannedFinishDate" #plannedFinishDate="ngModel" class="form-control" bsDatepicker
         #dbf='bsDatepicker' [(ngModel)]="projectmodel.plannedFinishDate" 
         [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY' }"
         >
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="dbf.toggle()" type="button">
            <i class="fa fa-calendar"></i>
          </button>
        </div>
      </div> 
    </div>
  </div>


    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-success" [disabled]="!projectform.valid"><i class="fa fa-dot-circle-o"></i> Submit</button>
      <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
    </div>
  </form>
</div>
</div>
<div class="card">   
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Short Name</th>
            <th>Project Name</th>
            <th>Project Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of projectData">
            <td>{{project.chartLabel}}</td>
            <td>{{project.projectName}}</td>
            <td>{{project.status}}</td>
            <td>
              <button type="button" [routerLink]="['/project/editproject']" [queryParams]="{'projectId' : project.idProject}" ><i class="fa fa-pencil fa-2x"></i></button>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>