
<div class="card">
  <div class="card-header">
    <strong>Add Look Up</strong> 
  </div>
  <div class="card-body">
    <form  class="form-horizontal" (ngSubmit)="onSubmit()">
      
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input">Lookup Type</label>
        <div class="col-md-9">
          <input type="text" [(ngModel)]="lookupmodel.lookupType"  id="lookupType" name="lookupType" class="form-control" placeholder="Text">
          <!-- <span class="help-block">This is a help text</span> -->
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input">Lookup Name</label>
        <div class="col-md-9">
          <input type="text" [(ngModel)]="lookupmodel.lookupName"  id="lookupName" name="lookupName"  class="form-control" placeholder="Text">
          <!-- <span class="help-block">This is a help text</span> -->
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="textarea-input">Lookup Description</label>
        <div class="col-md-9">
          <textarea [(ngModel)]="lookupmodel.lookupDescription"  id="lookupDescription" name="lookupDescription" rows="9" class="form-control" placeholder="Content.."></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="select1">Active Flag</label>
        <div class="col-md-9">
          <select [(ngModel)]="lookupmodel.activeFlag"  id="activeFlag" name="activeFlag" class="form-control">
            <option value="">Please select</option>
            <option value="Y">Yes</option>
            <option value="N">No</option>
          </select>
        </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Start Date</label>
          <div class="col-md-9">
            <input type="date" [(ngModel)]="lookupmodel.startDate"  id="startDate" name="startDate"  class="form-control" placeholder="Text">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">End Date</label>
          <div class="col-md-9">
            <input type="date" [(ngModel)]="lookupmodel.endDate"  id="endDate" name="endDate"  class="form-control" placeholder="Text">
          </div>
        </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
      </div>
    </form>
  </div>
 
    <div *ngIf="successMsg != null" class="alert alert-success" role="alert">
      {{successMsg | json}}
    </div>
    <div *ngIf="errorMsg != null" class="alert alert-danger" role="alert">
      {{errorMsg | json }}
    </div>
 
</div>