<div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Striped Table
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Lookup Type</th>
            <th>Lookup Name</th>
            <th>Active Flag</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lookup of lookups">
            <td>{{lookup.lookupType}}</td>
            <td>{{lookup.lookupName}}</td>
            <td>{{lookup.activeFlag}}</td>
            <td>{{lookup.startDate | date:'yyyy-MM-dd'}}</td>
            <td>{{lookup.endDate | date:'yyyy-MM-dd'}}</td>
            <td>
            
            <button type="button" (click)="editLookup(lookup.lookupId)" >Edit</button>

          </td>
          </tr>
        </tbody>
      </table>
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </div>
  </div>