<div class="card">
  <div class="card-body">
    <form #createprogram="ngForm">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Program Code<span style="color: red">*</span></th>
            <th>Program Name<span style="color: red">*</span></th>
            <th>Program Manager<span style="color: red">*</span></th>
            <th>Program Title<span style="color: red">*</span></th>
          </tr>
        </thead>

        <tbody>

          <tr *ngFor="let programmodel of programmodels; let i = index">
            <td>
              <input type="text" [(ngModel)]="programmodel.programCode" name="programCode{{i+1}}" pattern="^[A-Za-z0-9 ]+$"
                class="form-control" id="programCode{{i+1}}" placeholder="Text">
            </td>
            <td>
              <input type="text" [(ngModel)]="programmodel.programName" name="programName{{i+1}}" pattern="^[A-Za-z0-9 ]+$"
                class="form-control" id="programName{{i+1}}" placeholder="Text">
            </td>
            <td>
              <select [(ngModel)]="programmodel.idProgramManager" name="idProgramManager{{i+1}}" id="idProgramManager{{i+1}}"
                class="form-control" #idProject="ngModel">
                <option value="" disabled selected>Please Select</option>
                <option *ngFor="let employeeModel of employeeModels" [value]="employeeModel.idEmployee">{{employeeModel.name}}</option>
              </select>
            </td>

            <td>
              <input type="text" [(ngModel)]="programmodel.programTitle" name="programTitle{{i+1}}" pattern="^[A-Za-z0-9 ]+$"
                class="form-control" id="programTitle{{i+1}}" placeholder="Text">
            </td>
            <td>
              <button type="button" class="btn btn-primary btn-sm width100" (click)="open(content,i,programmodel)">Additional
                Info</button>
            </td>
          </tr>
        </tbody>

      </table>
    </form>
    <ul class="pagination">
      <li class="page-item"><button type="button" class="btn btn-sm btn-success pull-right" (click)="onSubmit()"><i
            class="fa fa-dot-circle-o"></i>
          Submit</button> </li>
      <li class="page-item"><button type="button" class="btn btn-sm btn-danger pull-right" (click)="createprogram.reset()"><i class="fa fa-ban"></i>
          Reset</button></li>
      <li class="page-item"><button type="button" class="pull-right" (click)="addrows()">Add More</button> </li>
    </ul>
  </div>
</div>
<div *ngIf="successMsg != null" class="alert alert-success" role="alert">
  {{successMsg | json}}
</div>
<div *ngIf="errorMsg != null" class="alert alert-danger" role="alert">
  {{errorMsg | json }}
</div>
<!-- </form> -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Additional Info</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container col-md-12">
      <form>
        <div class="row">
          <div class="col-md-6">
            <label for="requirements">Budget Period</label>
            <div class="row">
                <input pattern="^[A-Za-z ]+$" type="text" id="period1" name="period1" class="col-md-3">
                <input pattern="^[A-Za-z ]+$" type="text" id="period2" name="period2" class="col-md-3">
            </div>
          </div>
          <div class="col-md-6">
            <label for="budget">Budget</label>
            <input [(ngModel)]="programmodel.budget" pattern="^[0-9 ]+$" type="text" id="budget" name="budget" class="form-control"
              #budget="ngModel" placeholder="Number">
            <div *ngIf="budget.invalid&&(budget.dirty||budget.touched)" class="alert alert-danger">
              <div *ngIf="budget?.errors.pattern">
                Accepts only alphabets A-z a-z.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="description">Program Description</label>
            <textarea [(ngModel)]="programmodel.description" id="description" name="description"
              rows="4" class="form-control" #description="ngModel" placeholder="Content.."></textarea>
            <div *ngIf="description.invalid&&(description.dirty||description.touched)" class="alert alert-danger">
              <div *ngIf="description?.errors.pattern">
                Accepts only alphabets A-z a-z.
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click');addData(programmodel)">OK</button>
  </div>
</ng-template>
