<div class="card">
    <div class="card-header">
      <strong>Edit Program</strong>
    </div>
    <div class="card-body">
      <form class="form-horizontal" (ngSubmit)="onSubmit()"  #stakeholderform="ngForm" ngNativeValidate>
      
        <div class="form-group row">
            <label class="col-md-2 col-form-label" for="text-input">Program Code<span style="color: red">*</span></label>
            <div class="col-md-3">
              <input type="text" [(ngModel)]="programmodel.programCode" required pattern="^[A-Za-z0-9 ]+$" id="programCode" name="programCode" class="form-control"
                placeholder="Text" #programCode="ngModel">
              <div *ngIf="programCode.invalid&&(programCode.dirty||programCode.touched)" class="alert alert-danger">
                  <div *ngIf="programCode?.errors.required">
                      Program Code is required.
                  </div>
                  <div *ngIf="programCode?.errors.pattern">
                    Accepts only alphanumeric.
                  </div>
                </div>
            </div>
            <label class="col-md-2 col-form-label" for="text-input">Program Name<span style="color: red">*</span></label>
            <div class="col-md-3">
              <input type="text" [(ngModel)]="programmodel.programName" required pattern="^[A-Za-z ]+$" id="programName" name="programName" class="form-control"
                placeholder="Text" #programName="ngModel">
              <div *ngIf="programName.invalid&&(programName.dirty||programName.touched)" class="alert alert-danger">
                  <div *ngIf="programName?.errors.required">
                      Program Name is required.
                  </div>
                  <div *ngIf="programName?.errors.pattern">
                    Accepts only alphabets A-z a-z.
                  </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" for="select1">Program Manager<span style="color: red">*</span></label>
            <div class="col-md-3">
              <select [(ngModel)]="programmodel.idProgramManager" name="idProgramManager" id="idProgramManager" required
                class="form-control" #idProgramManager="ngModel">
                <option value="" disabled selected>Please select</option>
                <option *ngFor="let employee of employeeModels" [value]="employee.idEmployee">{{employee.name}}</option>
              </select>
              <div *ngIf="idProgramManager.invalid &&(idProgramManager.dirty||idProgramManager.touched)" class="alert alert-danger">
                  <div *ngIf="idProgramManager?.errors.required">
                      Program Manager is required.
                  </div>
                </div>
            </div>
            <label class="col-md-2 col-form-label" for="text-input">Program Title<span style="color: red">*</span></label>
            <div class="col-md-3">
              <input type="text" [(ngModel)]="programmodel.programTitle" required pattern="^[A-Za-z ]+$" id="programTitle" name="programTitle" class="form-control"
                placeholder="Text" #programTitle="ngModel">
              <div *ngIf="programTitle.invalid&&(programTitle.dirty||programTitle.touched)" class="alert alert-danger">
                  <div *ngIf="programTitle?.errors.required">
                      Program Title is required.
                  </div>
                  <div *ngIf="programTitle?.errors.pattern">
                    Accepts only alphabets A-z a-z.
                  </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" for="select1">Budget Period</label>
            <div class="row">
                <input pattern="^[A-Za-z ]+$" type="text" id="period1" name="period1" class="col-md-3">
                <input pattern="^[A-Za-z ]+$" type="text" id="period2" name="period2" class="col-md-3">
            </div>
            <label class="col-md-2 col-form-label" for="text-input">Budget</label>
            <div class="col-md-3">
              <input type="text" [(ngModel)]="programmodel.budget" pattern="^[0-9]+$" id="budget" name="budget" class="form-control"
                placeholder="Text" #budget="ngModel">
              <div *ngIf="budget.invalid&&(budget.dirty||budget.touched)" class="alert alert-danger">
                  <div *ngIf="budget?.errors.required">
                      Budget is required.
                  </div>
                  <div *ngIf="budget?.errors.pattern">
                    Accepts only alphabets A-z a-z.
                  </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="select1">Program Description</label>
          <div class="col-md-3">
            <textarea [(ngModel)]="programmodel.description" pattern="^[A-Za-z ]+$" id="description"
             name="description" rows="4" class="form-control" #description="ngModel" placeholder="Content.." ></textarea>
            <div *ngIf="description.invalid&&(description.dirty||description.touched)" class="alert alert-danger">
                <div *ngIf="description?.errors.pattern">
                    Accepts only alphabets A-z a-z.
                </div>
              </div>
          </div>
          <!-- <label class="col-md-2 col-form-label" for="select1">Expectations</label>
          <div class="col-md-3">
            <textarea [(ngModel)]="stakeholdermodel.expectations" pattern="^[A-Za-z ]+$"  id="expectations"
             name="expectations" rows="4" class="form-control" #expectations="ngModel" placeholder="Content.."></textarea>
             <div *ngIf="expectations.invalid&&(expectations.dirty||expectations.touched)" class="alert alert-danger">
                <div *ngIf="expectations?.errors.pattern">
                    Accepts only alphabets A-z a-z.
                </div>
              </div>
          </div> -->
        </div>
        
        
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-success" [disabled]="!stakeholderform.valid || submitted"><i class="fa fa-dot-circle-o"></i>
            Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </form>
    </div>
  
    <div *ngIf="successMsg != null" class="alert alert-success" role="alert">
      {{successMsg | json}}
    </div>
    <div *ngIf="errorMsg != null" class="alert alert-danger" role="alert">
      {{errorMsg | json }}
    </div>
  
  </div>
  