<div class="card">
  <div class="card-header">
    <strong>Search Program</strong>
  </div>
  <div class="card-body">
    <form class="form-horizontal" (ngSubmit)="onSubmit()" ngNativeValidate>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="select1">Program Manager</label>
        <div class="col-md-3">
          <select [(ngModel)]="programmodel.idProgramManager" name="idProgramManager{{i+1}}" id="idProgramManager{{i+1}}"
            class="form-control" #idProject="ngModel">
            <option value="" disabled selected>Please Select</option>
            <option *ngFor="let employeeModel of employeeModels" [value]="employeeModel.idEmployee">{{employeeModel.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="select1">Program Name</label>
        <div class="col-md-3">
            <input type="text" [(ngModel)]="programmodel.programName" id="programName" name="programName"
            class="form-control" placeholder="Text" #projectRole="ngModel">
        </div>
        <label class="col-md-2 col-form-label" for="text-input">Program Code</label>
        <div class="col-md-3">
          <input type="text" [(ngModel)]="programmodel.programCode" id="programCode" name="programCode"
            class="form-control" placeholder="Text" #projectRole="ngModel">
        </div>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i>
          Submit</button>
        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
      </div>
    </form>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Program Manager</th>
          <th>Program Code</th>
          <th>Program Name</th>
          
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let programmodel of programmodels'>

          <td>{{programmodel.programManagerName}}</td>
          <td>{{programmodel.programCode}}</td>
          <td>{{programmodel.programName}}</td>
          

          <td>
            <button type="button" [routerLink]="['/program/editprogram']" [queryParams]="{'idProgram' : programmodel.idProgram}"><i
                class="fa fa-pencil fa-2x"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
