<div class="card">
  <div class="card-body">
    <form #userform="ngForm">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>User Email<span style="color: red">*</span></th>
            <th>User Name<span style="color: red">*</span></th>
            <th>User Password<span style="color: red">*</span></th>
            <th>Roles<span style="color: red">*</span></th>
            <th>Company<span style="color: red">*</span></th>
            <th>Active Flag<span style="color: red">*</span></th>
            <th>Active From<span style="color: red">*</span></th>
            <th>Active To</th>
          </tr>
        </thead>

        <tbody>

          <tr *ngFor="let userModel of userModels; let i = index">
            <td>
              <input type="text" [(ngModel)]="userModel.userEmail" name="userEmail{{i+1}}" pattern="^[A-Za-z0-9 ]+$"
                class="form-control" id="userEmail{{i+1}}" placeholder="Text">
            </td>
            <td>
              <input type="text" [(ngModel)]="userModel.userName" name="userName{{i+1}}" pattern="^[A-Za-z0-9 ]+$"
                class="form-control" id="userName{{i+1}}" placeholder="Text">
            </td>
            <td>
              <input type="password" [(ngModel)]="userModel.password" name="password{{i+1}}" pattern="^[A-Za-z0-9 ]+$"
                class="form-control" id="password{{i+1}}" placeholder="Text">
            </td>
            <td>
              <select [(ngModel)]="userModel.roleId" multiple="multiple" name="roleId{{i+1}}" id="roleId{{i+1}}" class="form-control"
                #program="ngModel">
                <option value="" disabled selected>select a Role</option>
                <option *ngFor="let roleModel of roleModels" [value]="roleModel.idRole">{{roleModel.roleName}}</option>
              </select>
            </td>
            <td>
              <select [(ngModel)]="userModel.idCompany" name="idCompany{{i+1}}" id="idCompany{{i+1}}" class="form-control"
                #program="ngModel">
                <option value="" disabled selected>select a Company</option>
                <option *ngFor="let companyModel of companyModels" [value]="companyModel.idCompany">{{companyModel.name}}</option>
              </select>
            </td>
            <td>
              <select [(ngModel)]="userModel.active" name="active{{i+1}}" id="active{{i+1}}" class="form-control"
                #program="ngModel">
                <option value="">Please select</option>
                <option value="Y">Yes</option>
                <option value="N">No</option>
              </select>
            </td>
            <td>
              <input type="text" placeholder="MM-DD-YYYY" id="activeFrom{{i+1}}" name="activeFrom{{i+1}}" #activeFrom="ngModel" class="form-control"
              bsDatepicker #acf='bsDatepicker' [(ngModel)]="userModel.activeFrom">
            </td>
            <td>
              <input type="text" placeholder="MM-DD-YYYY" id="activeTo{{i+1}}" name="activeTo{{i+1}}" #activeTo="ngModel" class="form-control"
              bsDatepicker #act='bsDatepicker' [(ngModel)]="userModel.activeTo">
            </td>
          </tr>
        </tbody>
      </table>
    </form>
    <ul class="pagination">
      <li class="page-item"><button type="button" class="btn btn-sm btn-success pull-right" (click)="onSubmit()"><i
            class="fa fa-dot-circle-o"></i>
          Submit</button> </li>
      <li class="page-item"><button type="button"  class="btn btn-sm btn-danger pull-right" (click)="userform.reset()"><i class="fa fa-ban"></i>
          Reset</button></li>
      <li class="page-item"><button type="button" class="pull-right" (click)="addrows()">Add More</button> </li>
    </ul>
  </div>
</div>
<div *ngIf="successMsg != null" class="alert alert-success" role="alert">
  {{successMsg | json}}
</div>
<div *ngIf="errorMsg != null" class="alert alert-danger" role="alert">
  {{errorMsg | json }}
</div>