<div class="card">
    <div class="card-header">
      <strong>Edit User</strong>
    </div>
    <div class="card-body">
      <form class="form-horizontal" (ngSubmit)="onSubmit()"  #userEditform="ngForm" ngNativeValidate>
        <input type='hidden' [(ngModel)]='userModel.idUser' name="idUser" id="idUser"> 
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">User Mail<span style="color: red">*</span></label>
          <div class="col-md-3">
            <input type="email" [(ngModel)]="userModel.userEmail" required id="userEmail" name="userEmail" class="form-control"
              placeholder="Text" #userEmail="ngModel">
            <div *ngIf="userEmail.invalid&&(userEmail.dirty||userEmail.touched)" class="alert alert-danger">
                <div *ngIf="userEmail?.errors.required">
                    User Mail is required.
                </div>
                <div *ngIf="userEmail?.errors.pattern">
                  Accepts only alphanumeric.
                </div>
              </div>
          </div>
          <label class="col-md-2 col-form-label" for="text-input">User Name<span style="color: red">*</span></label>
          <div class="col-md-3">
            <input type="text" [(ngModel)]="userModel.userName" required id="userName" name="userName" class="form-control"
              placeholder="Text" #userName="ngModel">
            <div *ngIf="userName.invalid&&(userName.dirty||userName.touched)" class="alert alert-danger">
                <div *ngIf="userName?.errors.required">
                    User Name is required.
                </div>
                <div *ngIf="userName?.errors.pattern">
                  Accepts only alphanumeric.
                </div>
              </div>
          </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select1">Role<span style="color: red">*</span></label>
            <div class="col-md-3">
              <select [(ngModel)]="userModel.roleId" multiple="multiple" required name="roleId" id="roleId"
                class="form-control" #roleId="ngModel">
                <option value="">Please select</option>
                <option *ngFor="let roleModel of roleModels" [value]="roleModel.idRole">{{roleModel.roleName}}</option>
              </select>
              <div *ngIf="roleId.invalid &&(roleId.dirty||roleId.touched)" class="alert alert-danger">
                  <div *ngIf="roleId?.errors.required">
                    Role is required.
                  </div>
                </div>
            </div>
            <label class="col-md-2 col-form-label" for="select1">Company<span style="color: red">*</span></label>
            <div class="col-md-3">
              <select [(ngModel)]="userModel.idCompany" required name="idCompany" id="idCompany"
                class="form-control" #idCompany="ngModel">
                <option value="">Please select</option>
                <option *ngFor="let companyModel of companyModels" [value]="companyModel.idCompany">{{companyModel.name}}</option>
              </select>
              <div *ngIf="idCompany.invalid &&(idCompany.dirty||idCompany.touched)" class="alert alert-danger">
                  <div *ngIf="idCompany?.errors.required">
                    Company is required.
                  </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Active From<span style="color: red">*</span></label>
          <div class="col-md-3">
            <div class="input-group">
               <input type="text" placeholder="MM-DD-YYYY" [(ngModel)]="userModel.activeFrom" required
               id="activeFrom" name="activeFrom" #activeFrom="ngModel" class="form-control" 
               bsDatepicker #acf='bsDatepicker' >
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="acf.toggle()" type="button">
                  <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>
            <div *ngIf="activeFrom.invalid&&(activeFrom.dirty||activeFrom.touched)" class="alert alert-danger">
              <div *ngIf="activeFrom?.errors.required">
                Active From is required.
              </div>
            </div>
          </div>
          <label class="col-md-2 col-form-label" for="text-input">Active To</label>
          <div class="col-md-3">
            <div class="input-group">
               <input type="text" placeholder="MM-DD-YYYY"  [(ngModel)]="userModel.activeTo" 
               id="activeTo" name="activeTo" #activeTo="ngModel" class="form-control" 
               bsDatepicker #act='bsDatepicker' >
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="act.toggle()" type="button">
                  <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select1">Active Flag<span style="color: red">*</span></label>
            <div class="col-md-3">
              <select [(ngModel)]="userModel.active" required name="active" id="active"
                class="form-control" #active="ngModel">
                <option value="">Please select</option>
                  <option value="Y">Yes</option>
                  <option value="N">No</option>
              </select>
              <div *ngIf="active.invalid &&(active.dirty||active.touched)" class="alert alert-danger">
                  <div *ngIf="active?.errors.required">
                    Active Flag is required.
                  </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-success" [disabled]="!userEditform.valid"><i class="fa fa-dot-circle-o"></i>
            Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </form>
    </div>
  
    <div *ngIf="successMsg != null" class="alert alert-success" role="alert">
      {{successMsg | json}}
    </div>
    <div *ngIf="errorMsg != null" class="alert alert-danger" role="alert">
      {{errorMsg | json }}
    </div>
  
  </div>
  