<div class="card">
  <div class="card-header">
    <strong>Search User</strong>
  </div>
  <div class="card-body">
    <form class="form-horizontal" (ngSubmit)="onSubmit()" ngNativeValidate>
        
      <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">User Mail</label>
          <div class="col-md-3">
            <input type="text" [(ngModel)]="userModel.userEmail" id="userEmail" name="userEmail" class="form-control"
              placeholder="Text" #name="ngModel"> 
          </div>
          <label class="col-md-2 col-form-label" for="text-input">User Name</label>
          <div class="col-md-3">
            <input type="text" [(ngModel)]="userModel.userName" id="userName" name="userName" class="form-control"
              placeholder="Text" #name="ngModel"> 
          </div>
         
      </div>
      
      <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Active From</label>
          <div class="col-md-3">
            <input type="text" [(ngModel)]="userModel.activeFrom"  id="activeFrom" name="activeFrom" class="form-control"
            bsDatepicker #acf='bsDatepicker' placeholder="MM-DD-YYYY" #name="ngModel"> 
          </div>
          <label class="col-md-2 col-form-label" for="text-input">Active To</label>
          <div class="col-md-3">
            <input type="text" [(ngModel)]="userModel.activeTo" id="activeTo" name="activeTo" class="form-control"
            bsDatepicker #acf='bsDatepicker' placeholder="MM-DD-YYYY" #name="ngModel"> 
          </div>
      </div>  
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="select1">Active Flag</label>
        <div class="col-md-3">
          <select [(ngModel)]="userModel.active" name="active" id="active"
            class="form-control" #type="ngModel">
            <option value="">Please select</option>
              <option value="Y">Yes</option>
              <option value="N">No</option>
          </select>
        </div>
      </div>    
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i>
          Submit</button>
        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
      </div>
    </form>
  </div>
</div>
<div class="card">
   
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>User Mail</th>
            <th>User Name</th>
            <th>Active Flag</th>
            <th>Active From</th>
            <th>Active To</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let user of userData'>
            <td>{{user.userEmail}}</td>
            <td>{{user.userName}}</td>
            <td>{{user.active}}</td>
            <td>{{user.activeFrom | date:'yyyy-MM-dd' }}</td>
            <td>{{user.activeTo | date:'yyyy-MM-dd'}}</td>
            <td>
            
            <button type="button" (click)="editCompany(user.idUser)" ><i class="fa fa-pencil fa-2x"></i></button>

          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
