<div class="container-fluid h-100">
    <div class="row">
      <div class="col">
        <div class="card-group">
            <div class="card text-white bg-danger py-5 d-md-down-none" style="height:100vh">
                <div class="card-body text-center">
                  <div>
                    <h2>Risk Management and Control Tool</h2>
                    <p>It is one of the world’s leading risk management software solutions. 
                      It allows you to manage your risks, consolidating information to provide an enterprise wide view of risk across all sites,
                       divisions and countries of operation.</p>
                  </div>
                </div>
              </div>
          <div class="card p-4">
            <div class="card-body ">
              <form>
                <h1>Login</h1>
                <p class="text-muted">Reset your password</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="new" autocomplete="password" required>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Password" autocomplete="current-password" required>
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="button" class="btn btn-danger px-4">Submit</button>
                  </div>
                  
                </div>
              </form>
            </div>
          </div>            
        </div>
      </div>
    </div>
  </div>