<div class="card">
  <div class="card-body">
    <form #lookupform="ngForm">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Lookup Type<span style="color: red">*</span></th>
            <th>Lookup Name<span style="color: red">*</span></th>
            <th>Active Flag<span style="color: red">*</span></th>
          </tr>
        </thead>

        <tbody>

          <tr *ngFor="let lookupmodel of lookups; let i = index">
            <td>
              <input type="text" [(ngModel)]="lookupmodel.lookupType" name="lookupType{{i+1}}" pattern="^[A-Za-z0-9 ]+$"
                class="form-control" id="lookupType{{i+1}}" placeholder="Text">
            </td>
            <td>
              <input type="text" [(ngModel)]="lookupmodel.lookupName" name="lookupName{{i+1}}" pattern="^[A-Za-z0-9 ]+$"
                class="form-control" id="lookupName{{i+1}}" placeholder="Text">
            </td>
            <td>
              <select [(ngModel)]="lookupmodel.activeFlag" name="activeFlag{{i+1}}" id="activeFlag{{i+1}}" class="form-control"
                #program="ngModel">
                <option value="">Please select</option>
                <option value="Y">Yes</option>
                <option value="N">No</option>
              </select>
            </td>
            <td>
               <button type="button" class="btn btn-primary btn-sm width100" (click)="open(content,i,lookupmodel)">Additional
                Info</button>
            </td>
          </tr>
        </tbody>

      </table>
    </form>
    <ul class="pagination">
      <li class="page-item"><button type="button" class="btn btn-sm btn-success pull-right" (click)="onSubmit()"><i
            class="fa fa-dot-circle-o"></i>
          Submit</button> </li>
      <li class="page-item"><button type="button"  class="btn btn-sm btn-danger pull-right" (click)="lookupform.reset()"><i class="fa fa-ban"></i>
          Reset</button></li>
      <li class="page-item"><button type="button" class="pull-right" (click)="addrows()">Add More</button> </li>
    </ul>
  </div>
</div>
<div *ngIf="successMsg != null" class="alert alert-success" role="alert">
  {{successMsg | json}}
</div>
<div *ngIf="errorMsg != null" class="alert alert-danger" role="alert">
  {{errorMsg | json }}
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Additional Info</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container col-md-12">
      <form>
        <div class="row">
          <div class="col-md-6">
            <label for="lookupDescription">Lookup Description</label>
            <textarea [(ngModel)]="lookupmodel.lookupDescription" id="lookupDescription" name="lookupDescription"
              rows="4" class="form-control" #lookupDescription="ngModel" placeholder="Content.."></textarea>
          </div>
          <div class="col-md-6">
            <label for="startDate">Start Date</label>
            <div class="input-group ">
              <input type="text" placeholder="MM-DD-YYYY" id="startDate" name="startDate" #startDate="ngModel" class="form-control"
                bsDatepicker #dbf='bsDatepicker' [(ngModel)]="lookupmodel.startDate">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" style="height: 29px" (click)="dbf.toggle()" type="button">
                  <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-6">
            <label for="endDate">End Date</label>
            <div class="input-group ">
              <input type="text" placeholder="MM-DD-YYYY" id="endDate" name="endDate" #endDate="ngModel" class="form-control"
                bsDatepicker #dbs='bsDatepicker' [(ngModel)]="lookupmodel.endDate">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" style="height: 29px" (click)="dbs.toggle()" type="button">
                  <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancel click')">Cancel</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click');addData(lookupmodel)">OK</button>
  </div>
</ng-template>