.table th, .table td {
    padding: 0.4rem;
    vertical-align: top;
    border-top: 1px solid #c8ced3;
}

select {
    align-items: flex-end;
  }
  
  input.form-control {
    height: calc(1.7rem + 2px);
  }
  
  select.form-control {
    height: calc(1.7rem + 2px);
  }

.width100{
    width: 100%;
}