
<div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Edit Lookup
    </div>
    <div class="card-body">
        <form  class="form-horizontal" (ngSubmit)="onSubmit()">
            <input type="hidden" [(ngModel)]="lookupmodel.lookupId" id="lookupId" name="lookupId">
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Lookup Type<span style="color: red">*</span></label>
                <div class="col-md-3">
                  <input type="text" [(ngModel)]="lookupmodel.lookupType"  id="lookupType" name="lookupType" required
                   autofocus #lookupType2="ngModel" class="form-control" placeholder="Text">
                  <div *ngIf="lookupType2.invalid&&(lookupType2.dirty||lookupType2.touched)" class="alert alert-danger">
                    <div *ngIf="lookupType2?.errors.required">
                      Lookup Type is required.
                  </div>
                  </div>
        
                </div>
                <label class="col-md-2 col-form-label" for="text-input">Lookup Name<span style="color: red">*</span></label>
                <div class="col-md-3">
                  <input type="text" [(ngModel)]="lookupmodel.lookupName"  id="lookupName" name="lookupName" required
                  #lookupName2="ngModel"  class="form-control" placeholder="Text">
                  <!-- <span class="help-block">This is a help text</span> -->
                  <div *ngIf="lookupName2.invalid&&(lookupName2.dirty||lookupName2.touched)" class="alert alert-danger">
                    <div *ngIf="lookupName2?.errors.required">
                      Lookup Name is required.
                  </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="select1">Active Flag<span style="color: red">*</span></label>
                  <div class="col-md-3">
                    <select [(ngModel)]="lookupmodel.activeFlag" id="activeFlag" name="activeFlag" required 
                      class="form-control" #activeFlag2="ngModel">
                      <option value="">Please select</option>
                      <option value="Y">Yes</option>
                      <option value="N">No</option>
                    </select>
                    <div *ngIf="activeFlag2.invalid &&(activeFlag2.dirty||activeFlag2.touched)" class="alert alert-danger">
                      <div *ngIf="activeFlag2?.errors.required">
                          Active Flag is required.
                      </div>
                    </div>
                  </div>
                <label class="col-md-2 col-form-label" for="textarea-input">Lookup Description</label>
                <div class="col-md-3">
                  <input type="text" [(ngModel)]="lookupmodel.lookupDescription"  id="lookupDescription" 
                  name="lookupDescription" #lookupDescription2="ngModel"
                    class="form-control" placeholder="Text">
                </div>
              </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Start Date</label>
                    <div class="col-md-3">
                      <div class="input-group">
                         <input type="text" placeholder="MM-DD-YYYY"  [(ngModel)]="lookupmodel.startDate"  
                         id="startDate" name="startDate" #plannedFinishDate="ngModel" class="form-control" 
                         bsDatepicker #dbf='bsDatepicker' >
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="dbf.toggle()" type="button">
                            <i class="fa fa-calendar"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <label class="col-md-2 col-form-label" for="text-input">End Date</label>
                <div class="col-md-3">
                  <div class="input-group">
                     <input type="text" placeholder="MM-DD-YYYY" [(ngModel)]="lookupmodel.endDate"  
                     id="endDate" name="endDate" #plannedFinishDate="ngModel" class="form-control"
                      bsDatepicker #dbf='bsDatepicker'>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="dbf.toggle()" type="button">
                        <i class="fa fa-calendar"></i>
                      </button>
                    </div>
                  </div>
                </div>
                </div>
          <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Submit</button>
              <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            </div>
          </form>
    </div>
     <div *ngIf="successMsg != null" class="alert alert-success" role="alert">
        {{successMsg | json}}
      </div>
      <div *ngIf="errorMsg != null" class="alert alert-danger" role="alert">
        {{errorMsg | json }}
      </div>
   
  </div>
   
     
