<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i> Search Lookup
  </div>
  <div class="card-body">
      <form  class="form-horizontal" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="text-input">Lookup Type</label>
      <div class="col-md-3">
        <input type="text" [(ngModel)]="lookupmodel.lookupType"  id="lookupType" name="lookupType"
         autofocus pattern="^[A-Za-z ]+$" class="form-control" placeholder="Text">
        </div>
      <label class="col-md-2 col-form-label" for="text-input">Lookup Name</label>
      <div class="col-md-3">
        <input type="text" [(ngModel)]="lookupmodel.lookupName"  id="lookupName" name="lookupName"
        #lookupName2="ngModel" pattern="^[A-Za-z ]+$"  class="form-control" placeholder="Text">
      </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="select1">Active Flag</label>
        <div class="col-md-3">
          <select [(ngModel)]="lookupmodel.activeFlag" id="activeFlag" name="activeFlag"  
            class="form-control" >
            <option value="">Please select</option>
            <option value="Y">Yes</option>
            <option value="N">No</option>
          </select>
        </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Submit</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
          </div>
        </form>
  </div>
</div>

<div class="card">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Lookup Type</th>
            <th>Lookup Name</th>
            <th>Active Flag</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="lookups.length==0">
            <td colspan="6" style="color: red;text-align: center;">No Records Found</td>
          </tr>
          <tr *ngFor="let lookup of lookups">
            <td>{{lookup.lookupType}}</td>
            <td>{{lookup.lookupName}}</td>
            <td>{{lookup.activeFlag}}</td>
            <td>{{lookup.startDate | date:'yyyy-MM-dd'}}</td>
            <td>{{lookup.endDate | date:'yyyy-MM-dd'}}</td>
            <td>
            <button type="button"  [routerLink]="['/lookup/editlookup']" [queryParams]="{'lookupId' : lookup.lookupId}" ><i class="fa fa-pencil fa-2x"></i></button> 
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>