<div class="card">
  <div class="card-body">
    <form #companyform="ngForm">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Company Name<span style="color: red">*</span></th>
            <th>Active Flag<span style="color: red">*</span></th>
            <th>Active From<span style="color: red">*</span></th>
            <th>Active To</th>
          </tr>
        </thead>

        <tbody>

          <tr *ngFor="let companyModel of companyModels; let i = index">
            <td>
              <input type="text" [(ngModel)]="companyModel.name" name="name{{i+1}}" pattern="^[A-Za-z0-9 ]+$"
                class="form-control" id="name{{i+1}}" placeholder="Text">
            </td>
            <td>
              <select [(ngModel)]="companyModel.active" name="active{{i+1}}" id="active{{i+1}}" class="form-control"
                #program="ngModel">
                <option value="">Please select</option>
                <option value="Y">Yes</option>
                <option value="N">No</option>
              </select>
            </td>
            <td>
              <input type="text" placeholder="MM-DD-YYYY" id="activeFrom" name="activeFrom" #startDate="ngModel" class="form-control"
              bsDatepicker #acf='bsDatepicker' [(ngModel)]="companyModel.activeFrom">
            </td>
            <td>
              <input type="text" placeholder="MM-DD-YYYY" id="activeTo" name="activeTo" #startDate="ngModel" class="form-control"
              bsDatepicker #act='bsDatepicker' [(ngModel)]="companyModel.activeTo">
            </td>
          </tr>
        </tbody>
      </table>
    </form>
    <ul class="pagination">
      <li class="page-item"><button type="button" class="btn btn-sm btn-success pull-right" (click)="onSubmit()"><i
            class="fa fa-dot-circle-o"></i>
          Submit</button> </li>
      <li class="page-item"><button type="button"  class="btn btn-sm btn-danger pull-right" (click)="companyform.reset()"><i class="fa fa-ban"></i>
          Reset</button></li>
      <li class="page-item"><button type="button" class="pull-right" (click)="addrows()">Add More</button> </li>
    </ul>
  </div>
</div>
<div *ngIf="successMsg != null" class="alert alert-success" role="alert">
  {{successMsg | json}}
</div>
<div *ngIf="errorMsg != null" class="alert alert-danger" role="alert">
  {{errorMsg | json }}
</div>