<div class="card">
    <div class="card-header">
      <strong>Edit Company</strong>
    </div>
    <div class="card-body">
      <form class="form-horizontal" (ngSubmit)="onSubmit()"  #companyform="ngForm" ngNativeValidate>
        <input type='hidden' [(ngModel)]='companyModel.idCompany' name="idCompany" id="idCompany"> 
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Company Name<span style="color: red">*</span></label>
          <div class="col-md-3">
            <input type="text" [(ngModel)]="companyModel.name" required pattern="^[A-Za-z0-9 ]+$" id="name" name="name" class="form-control"
              placeholder="Text" #name="ngModel">
            <div *ngIf="name.invalid&&(name.dirty||name.touched)" class="alert alert-danger">
                <div *ngIf="name?.errors.required">
                    Company Name is required.
                </div>
                <div *ngIf="name?.errors.pattern">
                  Accepts only alphanumeric.
                </div>
              </div>
          </div>
          <label class="col-md-2 col-form-label" for="select1">Active Flag<span style="color: red">*</span></label>
          <div class="col-md-3">
            <select [(ngModel)]="companyModel.active" required name="active" id="active"
              class="form-control" #active="ngModel">
              <option value="">Please select</option>
                <option value="Y">Yes</option>
                <option value="N">No</option>
            </select>
            <div *ngIf="active.invalid &&(active.dirty||active.touched)" class="alert alert-danger">
                <div *ngIf="active?.errors.required">
                  Active Flag is required.
                </div>
              </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Active From<span style="color: red">*</span></label>
          <div class="col-md-3">
            <div class="input-group">
               <input type="text" placeholder="MM-DD-YYYY" [(ngModel)]="companyModel.activeFrom" required
               id="activeFrom" name="activeFrom" #activeFrom="ngModel" class="form-control" 
               bsDatepicker #acf='bsDatepicker' >
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="acf.toggle()" type="button">
                  <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>
            <div *ngIf="activeFrom.invalid&&(activeFrom.dirty||activeFrom.touched)" class="alert alert-danger">
              <div *ngIf="activeFrom?.errors.required">
                Active From is required.
              </div>
            </div>
          </div>
          <label class="col-md-2 col-form-label" for="text-input">Active To</label>
          <div class="col-md-3">
            <div class="input-group">
               <input type="text" placeholder="MM-DD-YYYY"  [(ngModel)]="companyModel.activeTo" 
               id="activeTo" name="activeTo" #activeTo="ngModel" class="form-control" 
               bsDatepicker #act='bsDatepicker' >
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="act.toggle()" type="button">
                  <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-success" [disabled]="!companyform.valid"><i class="fa fa-dot-circle-o"></i>
            Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </form>
    </div>
  
    <div *ngIf="successMsg != null" class="alert alert-success" role="alert">
      {{successMsg | json}}
    </div>
    <div *ngIf="errorMsg != null" class="alert alert-danger" role="alert">
      {{errorMsg | json }}
    </div>
  
  </div>
  