<div class="card">
  <div class="card-header">
    <strong>Search Company</strong>
  </div>
  <div class="card-body">
    <form class="form-horizontal" (ngSubmit)="onSubmit()" ngNativeValidate>
        
      <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Company Name</label>
          <div class="col-md-3">
            <input type="text" [(ngModel)]="companyModel.name" id="name" name="name" class="form-control"
              placeholder="Text" #name="ngModel"> 
          </div>
          <label class="col-md-2 col-form-label" for="select1">Active Flag</label>
          <div class="col-md-3">
            <select [(ngModel)]="companyModel.active" name="active" id="active"
              class="form-control" #type="ngModel">
              <option value="">Please select</option>
                <option value="Y">Yes</option>
                <option value="N">No</option>
            </select>
          </div>
      </div>
      <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Active From</label>
          <div class="col-md-3">
            <input type="text" [(ngModel)]="companyModel.activeFrom"  id="activeFrom" name="activeFrom" class="form-control"
            bsDatepicker #acf='bsDatepicker' placeholder="MM-DD-YYYY" #name="ngModel"> 
          </div>
          <label class="col-md-2 col-form-label" for="text-input">Active To</label>
          <div class="col-md-3">
            <input type="text" [(ngModel)]="companyModel.activeTo" id="activeTo" name="activeTo" class="form-control"
            bsDatepicker #acf='bsDatepicker' placeholder="MM-DD-YYYY" #name="ngModel"> 
          </div>
      </div>      
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i>
          Submit</button>
        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
      </div>
    </form>
  </div>
</div>
<div class="card">
   
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Company Name</th>
            <th>Active Flag</th>
            <th>Active From</th>
            <th>Active To</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let company of companyData'>
            <td>{{company.name}}</td>
            <td>{{company.active}}</td>
            <td>{{company.activeFrom | date:'yyyy-MM-dd' }}</td>
            <td>{{company.activeTo | date:'yyyy-MM-dd'}}</td>
            <td>
            
            <button type="button" (click)="editCompany(company.idCompany)" ><i class="fa fa-pencil fa-2x"></i></button>

          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
