<!-- <form class="form-horizontal" (ngSubmit)="onSubmit()" #projectform="ngForm" ngNativeValidate> -->

<div class="card">
  <div class="card-body">
    <form #stakeholderform="ngForm">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Project<span style="color: red">*</span></th>
            <th>Contact<span style="color: red">*</span></th>
            <th>Role<span style="color: red">*</span></th>
            <th>Type<span style="color: red">*</span></th>
            <th>Classification<span style="color: red">*</span></th>
          </tr>
        </thead>

        <tbody>

          <tr *ngFor="let stakeholdermodel of stakeholderModels; let i = index">
            <td>
              <select [(ngModel)]="stakeholdermodel.idProject" name="idProject{{i+1}}" id="idProject{{i+1}}" class="form-control"
                #idProject="ngModel">
                <option value="" disabled selected>Please Select</option>
                <option *ngFor="let projectModel of projectModels" [value]="projectModel.idProject">{{projectModel.projectName}}</option>
              </select>
            </td>
            <td>
              <select [(ngModel)]="stakeholdermodel.idEmployee" name="idEmployee{{i+1}}" id="idEmployee{{i+1}}" class="form-control"
                #program="ngModel">
                <option value="" disabled selected>Please Select</option>
                <option *ngFor="let employee of employeeModels" [value]="employee.idEmployee">{{employee.name}}</option>
              </select>
            </td>
            <td>
              <input type="text" [(ngModel)]="stakeholdermodel.projectRole" name="projectRole{{i+1}}" pattern="^[A-Za-z0-9 ]+$"
                class="form-control" id="projectRole{{i+1}}" placeholder="Text">
            </td>
            <td>
              <select [(ngModel)]="stakeholdermodel.type" name="type{{i+1}}" id="type{{i+1}}" class="form-control"
                #program="ngModel">
                <option value="" disabled selected>Please Select</option>
                <option *ngFor="let type of typeData" [value]="type.lookupId">{{type.lookupName}}</option>
              </select>
            </td>
            <td>
              <select [(ngModel)]="stakeholdermodel.classification" name="classification{{i+1}}" id="classification{{i+1}}"
                class="form-control" #projectmanager="ngModel">
                <option value="" disabled selected>Please Select</option>
                <option *ngFor="let classification of classificationData" [value]="classification.lookupId">{{classification.lookupName}}</option>
              </select>
            </td>
            <td>
              <!-- <button type="button" class="btn btn-lg btn-outline-primary" (click)="open(content,i,stakeholdermodel)">Additional
                Info</button> -->
              <button type="button" class="btn btn-primary btn-sm width100" (click)="open(content,i,stakeholdermodel)">Additional
                Info</button>
            </td>
          </tr>
        </tbody>

      </table>
    </form>
    <ul class="pagination">
      <!-- <li class="page-item"><button type="submit" class="btn btn-sm btn-success pull-right" [disabled]="!projectform.valid || submitted"><i
              class="fa fa-dot-circle-o"></i>
            Submit</button> </li> -->
      <li class="page-item"><button type="button" class="btn btn-sm btn-success pull-right" (click)="onSubmit()"><i
            class="fa fa-dot-circle-o"></i>
          Submit</button> </li>
      <li class="page-item"><button type="button" class="btn btn-sm btn-danger pull-right" (click)="stakeholderform.reset()"><i class="fa fa-ban"></i>
          Reset</button></li>
      <li class="page-item"><button type="button" class="pull-right" (click)="addrows()">Add More</button> </li>
    </ul>
  </div>
</div>
<div *ngIf="successMsg != null" class="alert alert-success" role="alert">
  {{successMsg | json}}
</div>
<div *ngIf="errorMsg != null" class="alert alert-danger" role="alert">
  {{errorMsg | json }}
</div>
<!-- </form> -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Additional Info</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container col-md-12">
      <form>
        <div class="row">
          <div class="col-md-6">
            <label for="requirements">Business Need</label>
            <textarea [(ngModel)]="stakeholdermodel.requirements" id="requirements" name="requirements"
              rows="4" class="form-control" #requirements="ngModel" placeholder="Content.."></textarea>
            
          </div>
          <div class="col-md-6">
            <label for="influence">Expectations</label>
            <textarea [(ngModel)]="stakeholdermodel.expectations" id="expectations" name="expectations"
              rows="4" class="form-control" #expectations="ngModel" placeholder="Content.."></textarea>
            <div *ngIf="expectations.invalid&&(expectations.dirty||expectations.touched)" class="alert alert-danger">
              <div *ngIf="expectations?.errors.pattern">
                Accepts only alphabets A-z a-z.
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label for="influence">Influence</label>
            <input [(ngModel)]="stakeholdermodel.influence" type="text" id="influence" name="influence"
              class="form-control" #influence="ngModel" placeholder="Text">
          </div>
          <div class="col-md-6">
            <label for="department">Department</label>
            <input [(ngModel)]="stakeholdermodel.department" type="text" id="department" name="department"
              class="form-control" #department="ngModel" placeholder="Text">
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label for="mgmtStratergy">Management Stratergy</label>
            <textarea [(ngModel)]="stakeholdermodel.mgmtStratergy" id="mgmtStratergy" name="mgmtStratergy"
              #mgmtStratergy="ngModel" rows="4" class="form-control" placeholder="Content.."></textarea>
          </div>
          <div class="col-md-6">
            <label for="comments">Comments</label>
            <textarea [(ngModel)]="stakeholdermodel.comments" id="comments" name="comments" rows="4"
              class="form-control" #comments="ngModel" placeholder="Content.."></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click');addData(stakeholdermodel)">OK</button>
  </div>
</ng-template>
