<div class="card">
    <div class="card-header">
      <strong>Edit Stake holder</strong>
    </div>
    <div class="card-body">
      <form class="form-horizontal" (ngSubmit)="onSubmit()"  #stakeholderform="ngForm" ngNativeValidate>
        <input type='hidden' [(ngModel)]='stakeholdermodel.idStakeholder' name="idStakeholder" id="idStakeholder">
          <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select1">Project<span style="color: red">*</span></label>
              <div class="col-md-3">
                <select [(ngModel)]="stakeholdermodel.idProject" name="idProject" id="idProject" required
                  class="form-control" #idProject="ngModel">
                  <option value="" disabled selected>select a Project</option>
                  <option *ngFor="let project of projectModels" [value]="project.idProject">{{project.projectName}}</option>
                </select>
                <div *ngIf="idProject.invalid &&(idProject.dirty||idProject.touched)" class="alert alert-danger">
                    <div *ngIf="idProject?.errors.required">
                      Project is required.
                    </div>
                  </div>
              </div>
            </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="select1">Contact<span style="color: red">*</span></label>
          <div class="col-md-3">
            <select [(ngModel)]="stakeholdermodel.idEmployee" name="idEmployee" id="idEmployee" required
              class="form-control" #idEmployee="ngModel">
              <option value="" disabled selected>select a Contact</option>
              <option *ngFor="let employee of employeeModels" [value]="employee.idEmployee">{{employee.name}}</option>
            </select>
            <div *ngIf="idEmployee.invalid &&(idEmployee.dirty||idEmployee.touched)" class="alert alert-danger">
                <div *ngIf="idEmployee?.errors.required">
                    Contact is required.
                </div>
              </div>
          </div>
          <label class="col-md-2 col-form-label" for="text-input">Role<span style="color: red">*</span></label>
          <div class="col-md-3">
            <input type="text" [(ngModel)]="stakeholdermodel.projectRole" required pattern="^[A-Za-z ]+$" id="projectRole" name="projectRole" class="form-control"
              placeholder="Text" #projectRole="ngModel">
            <div *ngIf="projectRole.invalid&&(projectRole.dirty||projectRole.touched)" class="alert alert-danger">
                <div *ngIf="projectRole?.errors.required">
                    Project Role is required.
                </div>
                <div *ngIf="projectRole?.errors.pattern">
                  Accepts only alphabets A-z a-z.
                </div>
              </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="select1">Type<span style="color: red">*</span></label>
          <div class="col-md-3">
            <select [(ngModel)]="stakeholdermodel.type" name="type" id="type" required
              class="form-control" #type="ngModel">
              <option value="" disabled selected>select a Type</option>
              <option *ngFor="let type of typeData" [value]="type.lookupId">{{type.lookupName}}</option>
            </select>
            <div *ngIf="type.invalid &&(type.dirty||type.touched)" class="alert alert-danger">
                <div *ngIf="type?.errors.required">
                    Type is required.
                </div>
              </div>
          </div>
          <label class="col-md-2 col-form-label" for="select1">Classification<span style="color: red">*</span></label>
          <div class="col-md-3">
            <select [(ngModel)]="stakeholdermodel.classification" name="classification" id="classification" required
              class="form-control" #classification="ngModel">
              <option value="" disabled selected>select a Classification</option>
              <option *ngFor="let classification of classificationData" [value]="classification.lookupId">{{classification.lookupName}}</option>
            </select>
            <div *ngIf="classification.invalid &&(classification.dirty||classification.touched)" class="alert alert-danger">
                <div *ngIf="classification?.errors.required">
                    Type is required.
                </div>
              </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="select1">Business Need</label>
          <div class="col-md-3">
            <textarea [(ngModel)]="stakeholdermodel.requirements" pattern="^[A-Za-z ]+$" id="requirements"
             name="requirements" rows="4" class="form-control" #requirements="ngModel" placeholder="Content.." ></textarea>
            <div *ngIf="requirements.invalid&&(requirements.dirty||requirements.touched)" class="alert alert-danger">
                <div *ngIf="requirements?.errors.pattern">
                    Accepts only alphabets A-z a-z.
                </div>
              </div>
          </div>
          <label class="col-md-2 col-form-label" for="select1">Expectations</label>
          <div class="col-md-3">
            <textarea [(ngModel)]="stakeholdermodel.expectations" pattern="^[A-Za-z ]+$"  id="expectations"
             name="expectations" rows="4" class="form-control" #expectations="ngModel" placeholder="Content.."></textarea>
             <div *ngIf="expectations.invalid&&(expectations.dirty||expectations.touched)" class="alert alert-danger">
                <div *ngIf="expectations?.errors.pattern">
                    Accepts only alphabets A-z a-z.
                </div>
              </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="select1">Influence</label>
          <div class="col-md-3">
            <input [(ngModel)]="stakeholdermodel.influence" pattern="^[A-Za-z ]+$" type="text" id="influence" name="influence"
             class="form-control" #influence="ngModel"  placeholder="Text">
             <div *ngIf="influence.invalid&&(influence.dirty||influence.touched)" class="alert alert-danger">
                <div *ngIf="influence?.errors.pattern">
                    Accepts only alphabets A-z a-z.
                </div>
              </div>
          </div>
          <label class="col-md-2 col-form-label" for="text-input">Department</label>
          <div class="col-md-3">
            <input [(ngModel)]="stakeholdermodel.department" pattern="^[A-Za-z ]+$" type="text" id="department"
             name="department" class="form-control" #department="ngModel"  placeholder="Text">
             <div *ngIf="department.invalid&&(department.dirty||department.touched)" class="alert alert-danger">
                <div *ngIf="department?.errors.pattern">
                    Accepts only alphabets A-z a-z.
                </div>
              </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="select1">Management Stratergy</label>
          <div class="col-md-3">
            <textarea [(ngModel)]="stakeholdermodel.mgmtStratergy" pattern="^[A-Za-z ]+$" id="mgmtStratergy" 
            name="mgmtStratergy" #mgmtStratergy="ngModel" rows="4" class="form-control" placeholder="Content.."></textarea>
            <div *ngIf="mgmtStratergy.invalid&&(mgmtStratergy.dirty||mgmtStratergy.touched)" class="alert alert-danger">
                <div *ngIf="mgmtStratergy?.errors.pattern">
                    Accepts only alphabets A-z a-z.
                </div>
              </div>
          </div>
          <label class="col-md-2 col-form-label" for="select1">Comments</label>
          <div class="col-md-3">
            <textarea [(ngModel)]="stakeholdermodel.comments"  id="comments" pattern="^[A-Za-z ]+$" 
            name="comments" rows="4" class="form-control" #comments="ngModel" placeholder="Content.."></textarea>
            <div *ngIf="comments.invalid&&(comments.dirty||comments.touched)" class="alert alert-danger">
                <div *ngIf="comments?.errors.pattern">
                    Accepts only alphabets A-z a-z.
                </div>
              </div>
          </div>
        </div>
        
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-success" [disabled]="!stakeholderform.valid || submitted"><i class="fa fa-dot-circle-o"></i>
            Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </form>
    </div>
  
    <div *ngIf="successMsg != null" class="alert alert-success" role="alert">
      {{successMsg | json}}
    </div>
    <div *ngIf="errorMsg != null" class="alert alert-danger" role="alert">
      {{errorMsg | json }}
    </div>
  
  </div>
  