<div class="card">
  <div class="card-header">
    <strong>Search Stake holder</strong>
  </div>
  <div class="card-body">
    <form class="form-horizontal" (ngSubmit)="onSubmit()" ngNativeValidate>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select1">Project</label>
            <div class="col-md-3">
              <select [(ngModel)]="stakeholdermodel.idProject" name="idProject" id="idProject" 
                class="form-control" #idProject="ngModel">
                <option value="" disabled selected>select a Project</option>
                <option *ngFor="let project of projectModels" [value]="project.idProject">{{project.projectName}}</option>
              </select>
            </div>
          </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="select1">Contact</label>
        <div class="col-md-3">
          <select [(ngModel)]="stakeholdermodel.idEmployee" name="idEmployee" id="idEmployee" 
            class="form-control" #idEmployee="ngModel">
            <option value="" disabled selected>select a Contact</option>
            <option *ngFor="let employee of employeeModels" [value]="employee.idEmployee">{{employee.name}}</option>
          </select>
        </div>
        <label class="col-md-2 col-form-label" for="text-input">Role</label>
        <div class="col-md-3">
          <input type="text" [(ngModel)]="stakeholdermodel.projectRole" id="projectRole" name="projectRole" class="form-control"
            placeholder="Text" #projectRole="ngModel"> 
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="select1">Type</label>
        <div class="col-md-3">
          <select [(ngModel)]="stakeholdermodel.type" name="type" id="type"
            class="form-control" #type="ngModel">
            <option value="" disabled selected>select a Type</option>
            <option *ngFor="let type of typeData" [value]="type.lookupId">{{type.lookupName}}</option>
          </select>
        </div>
        <label class="col-md-2 col-form-label" for="select1">Classification</label>
        <div class="col-md-3">
          <select [(ngModel)]="stakeholdermodel.classification" name="classification" id="classification"
            class="form-control" #classification="ngModel">
            <option value="" disabled selected>select a Classification</option>
            <option *ngFor="let classification of classificationData" [value]="classification.lookupId">{{classification.lookupName}}</option>
          </select>
        </div>
      </div>      
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i>
          Submit</button>
        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
      </div>
    </form>
  </div>
</div>
<div class="card">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Classification</th>
            <th>Type</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let stakeholder of stakeholderData'>
            <td>{{stakeholder.employeeName}}</td>
            <td>{{stakeholder.projectRole}}</td>
            <td>{{stakeholder.classificationName}}</td>
            <td>{{stakeholder.typeName}}</td>
            <td>
            <button type="button" [routerLink]="['/stakeholder/editstakeholder']" [queryParams]="{'idStakeholder' : stakeholder.idStakeholder}"  ><i class="fa fa-pencil fa-2x"></i></button>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
