  <div class="card">
        <div class="card-body">
            <form #riskcategoryform="ngForm">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Risk Category<span style="color: red">*</span></th>
                <th>Risk Sub Category<span style="color: red">*</span></th>
                <th>Impact<span style="color: red">*</span></th>
                <th>Frequency<span style="color: red">*</span></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let riskcategoryModel of riskcategoryModels; let i = index">
                <td>
                    <select [(ngModel)]="riskcategoryModel.idLookupRiskCategory" name="idLookupRiskCategory" id="idLookupRiskCategory" required
                    class="form-control" #idLookupRiskCategory="ngModel">
                    <option value="" disabled selected>select a Risk Category</option>
                    <option *ngFor="let riskCategory of riskCategoryData" [value]="riskCategory.lookupId">{{riskCategory.lookupName}}</option>
                  </select>
                </td>
                <td>
                    <select [(ngModel)]="riskcategoryModel.idLookupRiskSubCategory" name="idLookupRiskSubCategory" id="idLookupRiskSubCategory" required
                    class="form-control" #idLookupRiskSubCategory="ngModel">
                    <option value="" disabled selected>select a Risk Sub Category</option>
                    <option *ngFor="let riskSubCategory of riskSubCategoryData" [value]="riskSubCategory.lookupId">{{riskSubCategory.lookupName}}</option>
                  </select>
                </td>
                <td>
                    <select [(ngModel)]="riskcategoryModel.impact" id="impact" name="impact" required
                    class="form-control" #impact="ngModel">
                    <option value="" disabled selected>select a Type</option>
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                  </select>
                </td>
                <td>
                    <select [(ngModel)]="riskcategoryModel.frequency" id="frequency" name="frequency" required
                    class="form-control" #frequency="ngModel">
                    <option value="" disabled selected>select a Type</option>
                    <option value="Daily">Daily</option>
                    <option value="Weekly">Weekly</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Quarterly">Quarterly</option>
                  </select>
                </td>
              </tr>
            </tbody>
         
          </table>
        </form>
          <ul class="pagination">
             <li class="page-item"><button type="button" class="btn btn-sm btn-success pull-right" (click)="onSubmit()"><i
                  class="fa fa-dot-circle-o"></i>
                Submit</button> </li>
            <li class="page-item"><button type="button" class="btn btn-sm btn-danger pull-right" (click)="riskcategoryform.reset()"><i class="fa fa-ban"></i>
                Reset</button></li>
            <li class="page-item"><button type="button" class="pull-right" (click)="addrows()">Add More</button> </li>
          </ul>
        </div>
      </div>
      <div *ngIf="successMsg != null" class="alert alert-success" role="alert">
        {{successMsg | json}}
      </div>
      <div *ngIf="errorMsg != null" class="alert alert-danger" role="alert">
        {{errorMsg | json }}
      </div>