<div class="card">
  <div class="card-header">
    <strong>Search Risk Category</strong>
  </div>
  <div class="card-body">
    <form class="form-horizontal" (ngSubmit)="onSubmit()" ngNativeValidate>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="select1">Risk Category</label>
        <div class="col-md-3">
          <select [(ngModel)]="riskcateorymodel.idLookupRiskCategory" name="idLookupRiskCategory" id="idLookupRiskCategory" 
            class="form-control" >
            <option value="" disabled selected>select a Risk Category</option>
            <option *ngFor="let riskCategory of riskCategoryData" [value]="riskCategory.lookupId">{{riskCategory.lookupName}}</option>
          </select>
        </div>
        <label class="col-md-2 col-form-label" for="select1">Risk Sub Category</label>
        <div class="col-md-3">
          <select [(ngModel)]="riskcateorymodel.idLookupRiskSubCategory" name="idLookupRiskSubCategory" id="idLookupRiskSubCategory" 
            class="form-control">
            <option value="" disabled selected>select a Risk Sub Category</option>
            <option *ngFor="let riskSubCategory of riskSubCategoryData" [value]="riskSubCategory.lookupId">{{riskSubCategory.lookupName}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="select1">Impact</label>
        <div class="col-md-3">
          <select [(ngModel)]="riskcateorymodel.impact" id="impact" name="impact" 
            class="form-control">
            <option value="" disabled selected>select a Type</option>
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
          </select>
        </div>
        <label class="col-md-2 col-form-label" for="select1">Frequency</label>
        <div class="col-md-3">
          <select [(ngModel)]="riskcateorymodel.frequency" id="frequency" name="frequency" 
            class="form-control">
            <option value="" disabled selected>select a Type</option>
            <option value="Daily">Daily</option>
            <option value="Weekly">Weekly</option>
            <option value="Monthly">Monthly</option>
            <option value="Quarterly">Quarterly</option>
          </select>
        </div>
      </div>          
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i>
          Submit</button>
        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
      </div>
    </form>
  </div>
</div>
<div class="card">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Risk Category</th>
            <th>Risk Sub Category</th>
            <th>Impact</th>
            <th>Frequency</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let risk of riskData'>
            <td>{{risk.riskCategoryName}}</td>
            <td>{{risk.riskSubCategoryName}}</td>
            <td>{{risk.impact}}</td>
            <td>{{risk.frequency}}</td>
            <td>
            
            <button type="button" [routerLink]="['/riskcategory/editRiskCategory']" [queryParams]="{'idRiskcategory' : risk.idRiskcategory}"  ><i class="fa fa-pencil fa-2x"></i></button>

          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
