<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3" *ngFor="let item of riskScoresData; let i = index">
      <fusioncharts width="300" height="200" type="AngularGauge" [dataSource]="dataSource[i]" (click)="ruleGroupedScores(item.riskType)">
      </fusioncharts>
    </div>
  </div>
  <div class="card-columns cols-2" [hidden]="!contributionFlag" style="display: block">
    <div class="card">
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas id="chart" baseChart class="chart" [data]="doughnutChartData" [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"></canvas>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="chart-wrapper">
          <div class="card">
            <div class="card-header">
              <strong>{{clickVal}} Summary</strong>
            </div>
            <div class="card-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Rule Source</th>
                    <th>Risk Score(%)</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of ruleGroupedScoresData">
                    <td>{{item.rulesource}}</td>
                    <td>{{item.riskContributingScore}}</td>
                    <td><button type="button" (click)="search(item.rulesource)"><i class="fa fa-eye"></i></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div [hidden]="!summaryFlag" class="card">
    <div class="card-header">
      <strong>{{clickVal}} Details</strong>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Rule Source</th>
            <th>Rule Name</th>
            <th>Rule Grouping</th>
            <th>Active Flag</th>
            <th>Manual Or Automatic</th>
            <th>Risk Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let rule of rulesData'>
            <td>{{rule.ruleSource}}</td>
            <td>{{rule.ruleName}}</td>
            <td>{{rule.ruleGrouping}}</td>
            <td>{{rule.activeFlag}}</td>
            <td>{{rule.manualAutoFlag}}</td>
            <td><button type="button" (click)="getRiskDetails(content,rule.idRule)"><i class="fa fa-eye"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Additional Info</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container col-md-12">
        <form>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Risk Type</th>
                <th>Active Flag</th>
                <th>Default Risk</th>
                <th>Default Weightage</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ruleRiskDetail of ruleRiskDetails; let i = index">
                <td>
                  {{ruleRiskDetail.riskType}}
                </td>
                <td>
                  {{ruleRiskDetail.activeFlag}}
                </td>
                <td>
                  {{ruleRiskDetail.defaultRisk}}
                </td>
                <td>
                  {{ruleRiskDetail.defaultWeightage}}
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancel click')">Cancel</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">OK</button>
    </div>
  </ng-template>
  