.table th, .table td {
    padding: 0rem;
    vertical-align: middle;
    border-top: 1px solid #c8ced3; 
}

.colorGreen {
    background-color:green;
}

.colorYellow {
    background-color:yellow;
}

.colorOrange {
    background-color:orange;
}

.colorRed {
    background-color: red;
}

/deep/ g[class^='raphael-group-'][class$='-creditgroup'] {
    display:none !important;
}
