.table th,
.table td {
  padding: 0.4rem;
  vertical-align: top;
  border-top: 1px solid #c8ced3;
  font-weight: 700
}

select {
  align-items: flex-end;
  padding: 0.375rem;
}

.form-control {
  height: calc(1.7rem + 2px);
}