<div class="card">
  <div class="card-body">
    <form #ruleform="ngForm">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Rule Source<span style="color: red">*</span></th>
            <th>Rule Name<span style="color: red">*</span></th>
            <th>Rule Grouping<span style="color: red">*</span></th>
            <!-- <th>Default Risk<span style="color: red">*</span> </th>
            <th>Default Weightage<span style="color: red">*</span></th> -->
            <th>Manual or Automatic<span style="color: red">*</span></th>
            <!-- <th>Active Flag<span style="color: red">*</span></th> -->
            <!-- <th>System</th>
            <th>Enterprise Risk</th>
            <th>Internal Audit</th>
            <th>Compliance</th> -->
          </tr>
        </thead>

        <tbody>

          <tr *ngFor="let ruleModel of ruleModels; let i = index">
            <td>
              <input type="text" [(ngModel)]="ruleModel.ruleSource" name="rulesource{{i+1}}" pattern="^[A-Za-z0-9 ]+$"
                class="form-control" id="rulesource{{i+1}}" placeholder="Text">
            </td>
            <td>
              <input type="text" [(ngModel)]="ruleModel.ruleName" name="rulename{{i+1}}" pattern="^[A-Za-z0-9 ]+$"
                class="form-control" id="rulename{{i+1}}" placeholder="Text">
            </td>
            <td>
              <input type="text" [(ngModel)]="ruleModel.ruleGrouping" name="rulegrouping{{i+1}}" pattern="^[A-Za-z0-9 ]+$"
                class="form-control" id="rulegrouping{{i+1}}" placeholder="Text">
            </td>
            <!-- <td style="width: 7%">
              <input type="text" [(ngModel)]="ruleModel.defaultRisk" name="defaultrisk{{i+1}}" pattern="^[A-Za-z0-9 ]+$"
                class="form-control" id="defaultrisk{{i+1}}" placeholder="Number">
            </td>
            <td style="width: 5%">
              <input type="text" [(ngModel)]="ruleModel.defaultWeightage" name="defaultweightage{{i+1}}" pattern="^[A-Za-z0-9 ]+$"
                class="form-control" id="defaultweightage{{i+1}}" placeholder="Number">
            </td> -->
            <td style="width: 11%">
              <select [(ngModel)]="ruleModel.manualAutoFlag" name="manualautoflag{{i+1}}" id="manualautoflag{{i+1}}"
                class="form-control" #program="ngModel">
                <option value="">Please select</option>
                <option value="Manual">Manual</option>
                <option value="Automatic">Automatic</option>
              </select>
            </td>
            <!-- <td style="width: 7%">
              <select [(ngModel)]="ruleModel.activeFlag" name="active{{i+1}}" id="active{{i+1}}" class="form-control"
                #program="ngModel">
                <option value="">Please select</option>
                <option value="Y">Yes</option>
                <option value="N">No</option>
              </select>
            </td> -->
            <!-- <td style="width: 7%">
              <select [(ngModel)]="ruleModel.system" name="system{{i+1}}" id="system{{i+1}}" class="form-control"
                #program="ngModel">
                <option value="">Please select</option>
                <option value="Y">Yes</option>
                <option value="N">No</option>
              </select>
            </td>
            <td style="width: 7%">
              <select [(ngModel)]="ruleModel.enterpriseRisk" name="enterpriseRisk{{i+1}}" id="enterpriseRisk{{i+1}}" class="form-control"
                #program="ngModel">
                <option value="">Please select</option>
                <option value="Y">Yes</option>
                <option value="N">No</option>
              </select>
            </td>
            <td style="width: 7%">
              <select [(ngModel)]="ruleModel.internalAudit" name="internalAudit{{i+1}}" id="internalAudit{{i+1}}" class="form-control"
                #program="ngModel">
                <option value="">Please select</option>
                <option value="Y">Yes</option>
                <option value="N">No</option>
              </select>
            </td>
            <td style="width: 5%">
              <select [(ngModel)]="ruleModel.complaince" name="compliance{{i+1}}" id="compliance{{i+1}}" class="form-control"
                #program="ngModel">
                <option value="">Please select</option>
                <option value="Y">Yes</option>
                <option value="N">No</option>
              </select>
            </td> -->
            <td>
              <button type="button" class="btn btn-primary btn-sm width100" (click)="open(content,i,ruleModel)">Add Risk
                Info</button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
    <ul class="pagination">
      <li class="page-item"><button type="button" class="btn btn-sm btn-success pull-right" (click)="onSubmit()"><i
            class="fa fa-dot-circle-o"></i>
          Submit</button> </li>
      <li class="page-item"><button type="button" class="btn btn-sm btn-danger pull-right" (click)="ruleform.reset()"><i
            class="fa fa-ban"></i>
          Reset</button></li>
      <li class="page-item"><button type="button" class="pull-right" (click)="addrows()">Add More</button> </li>
    </ul>
  </div>
</div>
<div *ngIf="successMsg != null" class="alert alert-success" role="alert">
  {{successMsg | json}}
</div>
<div *ngIf="errorMsg != null" class="alert alert-danger" role="alert">
  {{errorMsg | json }}
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Risk Info</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container col-md-12">
      <form>
          <button type="button" class="btn btn-outline-dark pull-right" (click)="addRiskDetailsRows()">Add rows</button>
          <table class="table table-striped">
              <thead>
                <tr>
                  <th>Risk Type</th>
                  <th>Active Flag</th>
                  <th>Default Risk</th>
                  <th>Default Weightage</th>
                </tr>
              </thead>
              <tbody> 
                <tr *ngFor="let ruleRiskDetail of ruleRiskDetails; let i = index">
                  <td>
                    <select [(ngModel)]="ruleRiskDetail.riskType" name="riskType{{i}}" id="riskType" class="form-control">
                    <option value="" disabled selected>select a Risk Type</option>
                    <option *ngFor="let lookupModel of lookupModels" [value]="lookupModel.lookupName">{{lookupModel.lookupName}}</option>
                  </select>
                  </td>
            <td>
                    <select [(ngModel)]="ruleRiskDetail.activeFlag" name="activeFlag{{i+1}}" id="activeFlag{{i+1}}" class="form-control">
                      <option value="">Please select</option>
                      <option value="Y">Yes</option>
                      <option value="N">No</option>
                    </select>
                  </td>
            <td>
                    <input type="text" [(ngModel)]="ruleRiskDetail.defaultRisk" name="defaultrisk{{i+1}}" pattern="^[0-9]+$"
                      class="form-control" id="defaultrisk{{i+1}}" placeholder="Number">
                  </td>
                  <td>
                    <input type="text" [(ngModel)]="ruleRiskDetail.defaultWeightage" name="defaultweightage{{i+1}}" pattern="^[0-9]+$"
                      class="form-control" id="defaultweightage{{i+1}}" placeholder="Number">
                  </td>
                </tr>
              </tbody>
            </table>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancel click')">Cancel</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click');addData(ruleRiskDetails)">OK</button>
  </div>
</ng-template>