<div class="card">
    <div class="card-header">
      <strong>Edit Rule</strong>
    </div>
    <div class="card-body">
      <form class="form-horizontal" (ngSubmit)="onSubmit()"  #ruleform="ngForm" ngNativeValidate>
        <input type='hidden' [(ngModel)]='ruleModel.idRule' name="idRule" id="idRule"> 
        <div class="form-group row">
          <label class="col-md-3 col-form-label" required for="text-input">Rule Source<span style="color: red">*</span></label>
          <div class="col-md-3">
            <input type="text" [(ngModel)]="ruleModel.ruleSource" id="rulesource" name="rulesource" class="form-control"
              placeholder="Text" #ruleSource="ngModel">
              <div *ngIf="ruleSource.invalid&&(ruleSource.dirty||ruleSource.touched)" class="alert alert-danger">
                <div *ngIf="ruleSource?.errors.required">
                    Rule Source is required.
                </div>
              </div>
          </div>
          <label class="col-md-2 col-form-label" required for="text-input">Rule Name<span style="color: red">*</span></label>
          <div class="col-md-3">
            <input type="text" [(ngModel)]="ruleModel.ruleName" id="rulename" name="rulename" class="form-control"
              placeholder="Text" #ruleName="ngModel">
              <div *ngIf="ruleName.invalid&&(ruleName.dirty||ruleName.touched)" class="alert alert-danger">
                <div *ngIf="ruleName?.errors.required">
                    Rule Name is required.
                </div>
              </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" required for="text-input">Rule Grouping<span style="color: red">*</span></label>
          <div class="col-md-3">
            <input type="text" [(ngModel)]="ruleModel.ruleGrouping" id="rulegrouping" name="rulegrouping" class="form-control"
              placeholder="Text" #ruleGrouping="ngModel">
              <div *ngIf="ruleGrouping.invalid&&(ruleGrouping.dirty||ruleGrouping.touched)" class="alert alert-danger">
                <div *ngIf="ruleGrouping?.errors.required">
                    Rule Grouping is required.
                </div>
              </div>
          </div>
          <label class="col-md-2 col-form-label" required for="select1">Manual or Automatic<span style="color: red">*</span></label>
          <div class="col-md-3">
            <select [(ngModel)]="ruleModel.manualAutoFlag" name="manualAutoFlag" id="manualAutoFlag" class="form-control" #manualAutoFlag="ngModel">
              <option value="">Please select</option>
              <option value="Manual">Manual</option>
              <option value="Automatic">Automatic</option>
            </select>
            <div *ngIf="manualAutoFlag.invalid &&(manualAutoFlag.dirty||manualAutoFlag.touched)" class="alert alert-danger">
              <div *ngIf="manualAutoFlag?.errors.required">
                Manual or Automatic is required.
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="form-group row">
          <label class="col-md-3 col-form-label" required for="select1">Active Flag<span style="color: red">*</span></label>
          <div class="col-md-3">
            <select [(ngModel)]="ruleModel.activeFlag" name="active" id="active" class="form-control" #active="ngModel">
              <option value="">Please select</option>
              <option value="Y">Yes</option>
              <option value="N">No</option>
              <div *ngIf="active.invalid &&(active.dirty||active.touched)" class="alert alert-danger">
                <div *ngIf="active?.errors.required">
                  Active Flag is required.
                </div>
              </div>
            </select>
          </div>
        </div> -->
   <fieldset class="scheduler-border">
      <legend class="scheduler-border">Risk Details</legend>
     
      <div *ngFor="let item of ruleRiskDetails; let i = index ">
      <div class="form-group row">
        <input type="hidden" [(ngModel)]="item.idRuleRiskDetails">
     <label class="col-md-3 col-form-label" for="select1">Risk Type</label>
      <div class="col-md-3">
        <select name="riskType{{i}}" [(ngModel)]="item.riskType" class="form-control">
          <option value="" disabled selected>Please select</option>
          <option *ngFor="let lookupModel of lookupModels" [value]="lookupModel.lookupName">{{lookupModel.lookupName}}</option>
        </select>
      </div>
      <label class="col-md-2 col-form-label" for="select1">Active Flag</label>
      <div class="col-md-3">
        <select name="activeFlag{{i}}" [(ngModel)]="item.activeFlag" id="activeFlag" class="form-control">
          <option value="">Please select</option>
          <option value="Y">Yes</option>
          <option value="N">No</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="text-input">Default Risk</label>
      <div class="col-md-3">
        <input type="text"  id="defaultRisk" [(ngModel)]="item.defaultRisk" name="defaultRisk{{i}}" class="form-control"
          placeholder="Text">
      </div>
      <label class="col-md-2 col-form-label" for="text-input">Default Weightage</label>
      <div class="col-md-3">
        <input type="text" id="rulegrouping" [(ngModel)]="item.defaultWeightage" name="rulegrouping{{i}}" class="form-control"
          placeholder="Text">
      </div>
    </div>
  </div>
  <div class="form-group">
      <button type="button" class="btn btn-outline-dark pull-right" (click)="riskDetailsRows()">Add rows</button>
    </div>
  </fieldset>
  
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-success" [disabled]="!ruleform.valid"><i class="fa fa-dot-circle-o"></i>
            Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </form>
    </div>
  
    <div *ngIf="successMsg != null" class="alert alert-success" role="alert">
      {{successMsg | json}}
    </div>
    <div *ngIf="errorMsg != null" class="alert alert-danger" role="alert">
      {{errorMsg | json }}
    </div>
  
  </div>
  