<div class="card">
  <div class="card-header">
    <strong>Search Rule</strong>
  </div>
  <div class="card-body">
    <form class="form-horizontal" (ngSubmit)="onSubmit()" ngNativeValidate>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input">Rule Source</label>
        <div class="col-md-3">
          <input type="text" [(ngModel)]="ruleModel.ruleSource" id="rulesource" name="rulesource" class="form-control"
            placeholder="Text" #name="ngModel">
        </div>
        <label class="col-md-2 col-form-label" for="text-input">Rule Name</label>
        <div class="col-md-3">
          <input type="text" [(ngModel)]="ruleModel.ruleName" id="rulename" name="rulename" class="form-control"
            placeholder="Text" #name="ngModel">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input">Rule Grouping</label>
        <div class="col-md-3">
          <input type="text" [(ngModel)]="ruleModel.ruleGrouping" id="rulegrouping" name="rulegrouping" class="form-control"
            placeholder="Text" #name="ngModel">
        </div>
        <label class="col-md-2 col-form-label" for="text-input">Default Risk</label>
        <div class="col-md-3">
          <input type="text" [(ngModel)]="ruleModel.defaultRisk" id="defaultrisk" name="defaultrisk" class="form-control"
            placeholder="Number" #name="ngModel">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input">Default Weightage</label>
        <div class="col-md-3">
          <input type="text" [(ngModel)]="ruleModel.defaultWeightage" id="defaultweightage" name="defaultweightage"
            class="form-control" placeholder="Number" #name="ngModel">
        </div>
        <label class="col-md-2 col-form-label" for="select1">Manual or Automatic</label>
        <div class="col-md-3">
          <select [(ngModel)]="ruleModel.manualAutoFlag" name="active" id="active" class="form-control" #type="ngModel">
            <option value="">Please select</option>
            <option value="Manual">Manual</option>
            <option value="Automatic">Automatic</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="select1">Active Flag</label>
        <div class="col-md-3">
          <select [(ngModel)]="ruleModel.activeFlag" name="active" id="active" class="form-control" #type="ngModel">
            <option value="">Please select</option>
            <option value="Y">Yes</option>
            <option value="N">No</option>
          </select>
        </div>
        <label class="col-md-2 col-form-label" for="select1">Risk Type</label>
        <div class="col-md-3">
          <select [(ngModel)]="ruleModel.riskType" name="riskType" id="riskType" class="form-control" #type="ngModel">
            <option value="">Please select</option>
            <option *ngFor="let lookupModel of lookupModels" [value]="lookupModel.lookupName">{{lookupModel.lookupName}}</option>
          </select>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i>
          Submit</button>
        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
      </div>
    </form>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Rule Source</th>
          <th>Rule Name</th>
          <th>Rule Grouping</th>
          <th>Active Flag</th>
          <th>Manual Or Automatic</th>
          <th>Risk Details</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let rule of rulesData'>
          <td>{{rule.ruleSource}}</td>
          <td>{{rule.ruleName}}</td>
          <td>{{rule.ruleGrouping}}</td>
          <td>{{rule.activeFlag}}</td>
          <td>{{rule.manualAutoFlag}}</td>
          <td><button type="button" (click)="getRiskDetails(content,rule.idRule)"><i class="fa fa-eye"></i></button></td>
          <td>
            <button type="button" (click)="editRule(rule.idRule)"><i class="fa fa-pencil fa-2x"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Additional Info</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container col-md-12">
        <form>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Risk Type</th>
                    <th>Active Flag</th>
                    <th>Default Risk</th>
                    <th>Default Weightage</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ruleRiskDetail of ruleRiskDetails; let i = index">
                    <td>
                     {{ruleRiskDetail.riskType}}
                    </td>
              <td>
                      {{ruleRiskDetail.activeFlag}}
                    </td>
              <td>
                      {{ruleRiskDetail.defaultRisk}}
                    </td>
                    <td>
                      {{ruleRiskDetail.defaultWeightage}}
                    </td>
                  </tr>
                </tbody>
              </table>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancel click')">Cancel</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">OK</button>
    </div>
  </ng-template>